<html>
<head>
    <title>Create Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="base_style.css" />
    <link rel="stylesheet" type="text/css" href="src/table.css" />
</head>
<body>
<!-- Navbar-->
<div class="navbar">
    <div class="w3-bar w3-left-align w3-large navbar">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()">
            <i class="fa fa-bars"></i></a>
        <a class="w3-bar-item w3-button w3-padding-large w3-theme-d5" href="dashboard.html"><i class="fa fa-home w3-margin-right"></i>IntelliDocs</a>
        <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" href="#" title="News"><i class="fa fa-globe icon-dark"></i>
        </a><a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" href="#" title="Account Settings"><i class="fa fa-user icon-dark"></i>
    </a><a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" href="#" title="Messages"><i class="fa fa-envelope icon-dark"></i></a>
        <div class="w3-dropdown-hover w3-hide-small">
            <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell icon-dark"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>
            <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px"><a class="w3-bar-item w3-button" href="#">One new form </a><a class="w3-bar-item w3-button" href="#">AFAR is due tommorow</a><a class="w3-bar-item w3-button" href="#">Syllabus is due tommorow</a></div>
        </div><a class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" href="#" title="My Account"><img class="w3-circle" src="src/avatar2.png" style="height:23px;width:23px" alt="Avatar"/></a>
    </div>
</div>

<!-- Navbar on small screens-->
<div class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large" id="navDemo">
    <a class="w3-bar-item w3-button w3-padding-large" href="#">Link 1</a>
    <a class="w3-bar-item w3-button w3-padding-large" href="#">Link 2</a>
    <a class="w3-bar-item w3-button w3-padding-large" href="#">Link 3</a>
    <a class="w3-bar-item w3-button w3-padding-large" href="#">My Profile</a>
</div>

<!-- Page Container-->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid-->
    <div class="w3-row">
        <!-- Left Column-->
        <div class="w3-col m3">
            <!-- Profile-->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center">Admin</h4>
                    <p class="w3-center"><img class="w3-circle" src="src/avatar3.png" style="height:106px;width:106px" alt="Avatar"/></p>
                    <hr/>
                    <p><i class="fa fa-info-circle fa-fw w3-margin-right w3-text-theme"></i> 2222222</p>
                    <p><i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i> Delfin Tokyas</p>
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-text-theme"></i> Document Controller</p>
                </div>
            </div><br/>
            <!-- Accordion-->
            <div class="w3-card w3-round">
                <div class="w3-white">
                    <button class="w3-button w3-block light-mode w3-left-align" onclick="myFunction('Demo1')"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> Form Management</button>
                    <div class="w3-hide w3-container" id="Demo1">
                        <p><a href="create_form.html"> <i class="fa fa-plus-circle w3-margin-right"> </i>Create Forms </a> </p>
                        <p> <a href="view_form.html">  <i class="fa fa-file-o w3-margin-right"> </i>View Forms </a></p>
                        <p> <a href="document_code.html">  <i class="fa fa-info w3-margin-right"> </i>Document Codes </a></p>
                        <p> <a href="report.html">  <i class="fa fa-pie-chart w3-margin-right"> </i>View Reports </a></p>
                    </div>
                    <button class="w3-button w3-block light-mode w3-left-align" onclick="myFunction('Demo2')"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> Form Events</button>
                    <div class="w3-hide w3-container" id="Demo2">
                        <p> <a href="notification.html">  <i class="fa fa-bell-o w3-margin-right"> </i>Set Form notifications </a></p>
                        <p> <a href="deadline.html">  <i class="fa fa-calendar-check-o w3-margin-right"> </i>Set Form due dates </a></p>
                    </div>
                    <button class="w3-button w3-block light-mode w3-left-align" onclick="myFunction('Demo3')"><i class="fa fa-users fa-fw w3-margin-right"></i> User Management</button>
                    <div class="w3-hide w3-container" id="Demo3">
                        <p> <a href="create_user.html">  <i class="fa fa-plus-circle w3-margin-right"></i>Create User </a></p>
                        <p> <a href="manage_user.html"> <i class="fa fa-users w3-margin-right"></i>View Users </a></p>
                        <p> <a href="access_roles.html"> <i class="fa fa-thumb-tack w3-margin-right"></i>Manage Roles </a></p>
                        <p> <a href="role_settings.html"> <i class="fa fa-pencil w3-margin-right"></i>Modify User Settings </a></p>
                    </div>
                </div>
            </div>
            <br/>
            <!-- Alert Box-->
            <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small"><span class="w3-button w3-theme-l3 w3-display-topright" onclick="this.parentElement.style.display='none'"><i class="fa fa-remove"></i></span>
                <p><strong>Hey!</strong></p>
                <p>You have 3 pending forms to fill out, find out which.</p>
            </div>
            <!-- End Left Column-->
        </div>
        <!-- Middle Column-->
        <div class="w3-col m9">
            <div class="w3-container w3-card w3-white w3-round w3-margin">
                <h4>Create Form</h4>
                <hr class="w3-clear"/>
                CONTENT HEREEEEE
                <br>
                <!--                <button class="w3-button w3-theme-d2 w3-margin-bottom" type="button"><i class="fa fa-eye"></i> &nbsp;View    </button>-->
            </div>
            <!-- End Middle Column-->
        </div>
        <!-- Right Column// End Right Column
        -->
        <!-- End Grid-->
    </div>
    <!-- End Page Container-->
</div>
<br>

<!-- Footer -->
<footer class="w3-container light-mode">
    <h5>Footer</h5>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
    // Accordion
    function myFunction(id) {
      var x = document.getElementById(id);
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
      } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
      }
    }

    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
</script>

</body>
</html>