body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f0f0f0;
}

h1 {
    font-size:1rem;
    color: black;
    text-indent: 100px;
    text-align:left;
}

p {
    font-size:1.2rem;
    color: black;
    text-align:center;
}


.container {
    max-width: 1200px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    padding: 20px;
    display: block;
    align-items: center;
    justify-content: space-between;
    user-drag: none;
}

.page-container,
.pages {
  display: inline-block;
  vertical-align: top; /* Align them vertically if needed */
}

.page-container {
  width: 30%; /* Adjust the width as needed */
  background-color: #ccc; /* Set background color for page-container */
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 10px; /* Add some padding for spacing */
  max-height: 80%; /* Set a maximum height for the scrollable area */
  overflow-y: auto; /* Make the container scrollable vertically */
}

.pages {
  width: 50%; /* Adjust the width as needed */
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 10px; /* Add some padding for spacing */
}




.drop-container {
            width: 595px; /* A4 width in pixels */
            height: 842px; /* A4 height in pixels */
            margin: 10 auto;
            padding: 20px;
            box-sizing: border-box;
            border: 1px solid #ccc;
        }



.box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 2px;
    cursor: grab;
    min-width: 100px; /* Minimum width for each child */
    flex: 1 0 auto; /* Allow flex items to grow and shrink */
}

.box.draggable {
    cursor: grab;
}

.box.dragging {
    opacity: 0.5;
}

.drop-box {
     width: 794px; /* A4 width in pixels */
     height: 1200px; /* A4 height in pixels */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px dashed #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    min-width: 100px; /* Minimum width for each child */
    flex: 1 1 auto; /* Allow flex items to grow and shrink */
}

.drop-box.hover {
    background-color: #e0e0e0;
}

.section {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.section-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}


.box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
}

.drop-box {
            background-color: #f4f4f4;
            margin: 5px;
            border: 1px solid #eee;
            padding: 5px;
            flex: 1 1 auto; /* Allow flex items to grow and shrink */
            min-width: 100px; /* Minimum width for each child */
}

.table_fillup_center {
    float: center;
    margin: 10px;
}

.drop-box.hover {
    background-color: #d9d9d9;
}

table {
    width: 100%;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

table.right {
width:40%;
float: right;
}

.selected {
  background-color: #FFFF99;
}

.merged {
  background-color: #FFFFCC;
}


td {
    border: 2px solid black;
    padding: 5px;
    font-size: 1vw;
    max-width: 200px; /* Adjust the value as needed */
    /* overflow: hidden; */
    /* text-overflow: ellipsis;  */
    text-align: left;
    width: 200px;
}

th {
    width: 200px;
    border: 1px solid black;
    padding: 5px;
    font-size: 1vw;
    max-width: 150px; /* Adjust the value as needed */
    /* overflow: hidden; */
    /* text-overflow: ellipsis;  */
    text-align: center;
}




/* Add this to your CSS file */
.non-draggable {
    cursor: auto; /* Change the cursor to the default pointer */
    opacity: 1; /* Make it fully visible */
    pointer-events: auto; /* Allow pointer events on the element */
    user-drag: none; /* Disable user dragging */
}