doctype html
html(style='font-size: 16px;', lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title aboutUs
    link(rel='stylesheet', type='text/css', href='../css/w3css4.css')
    link(rel='stylesheet', type='text/css', href='../css/loginPages.css')
    script.u-script(type='text/javascript', src='../js/loginNavbar.js', defer='')
    link#u-theme-google-font(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
    link#u-page-google-font(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')
  body.u-body.u-xl-mode(data-lang='en')
    header#sec-f0ce.u-custom-color-1.u-header(data-animation-name='', data-animation-duration='0', data-animation-delay='0', data-animation-direction='')
      .u-clearfix.u-sheet.u-sheet-1
        a.u-image.u-logo.u-image-1(data-image-width='1500', data-image-height='600')
          img.u-logo-image.u-logo-image-1(src='../src/intelliDocsLogo.png', data-image-width='80')
        nav.u-menu.u-menu-one-level.u-offcanvas.u-menu-1(data-responsive-from='MD')
          .menu-collapse.u-custom-font.u-font-raleway
            a.u-button-style.u-custom-text-shadow.u-custom-text-shadow-blur.u-custom-text-shadow-color.u-custom-text-shadow-transparency.u-custom-text-shadow-x.u-custom-text-shadow-y.u-nav-link(href='#', style='padding: 8px 0px; font-size: calc(1em + 16px);')
              svg.u-svg-link(viewBox='0 0 24 24')
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-c7da')
              svg#svg-c7da.u-svg-content(version='1.1', viewBox='0 0 16 16', x='0px', y='0px', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg')
                g
                  rect(y='1', width='16', height='2')
                  rect(y='7', width='16', height='2')
                  rect(y='13', width='16', height='2')
          .u-custom-menu.u-nav-container
            ul.u-custom-font.u-font-raleway.u-nav.u-unstyled.u-nav-1
              li.u-nav-item
                a.u-button-style.u-nav-link(href='login', style='text-shadow: 0px 2px 8px rgba(128,128,128,1);') home
              li.u-nav-item
                a.u-button-style.u-nav-link(href='aboutUs', style='text-shadow: 0px 2px 8px rgba(128,128,128,1);') about us
              li.u-nav-item
                a.u-button-style.u-nav-link(href='ourTeam', style='text-shadow: 0px 2px 8px rgba(128,128,128,1);') our team
              li.u-nav-item
                a.u-button-style.u-nav-link(href='techSupport', style='text-shadow: 0px 2px 8px rgba(128,128,128,1); padding-right: 4px;') tech support
          .u-custom-menu.u-nav-container-collapse
            .u-black.u-container-style.u-inner-container-layout.u-opacity.u-opacity-95.u-sidenav
              .u-inner-container-layout.u-sidenav-overflow
                .u-menu-close
                ul.u-align-center.u-custom-font.u-font-raleway.u-nav.u-popupmenu-items.u-unstyled.u-nav-2
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='login') home
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='aboutUs') about us
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='ourTeam') our team
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='techSupport') tech support
            .u-black.u-menu-overlay.u-opacity.u-opacity-70
    section#sec-cf64.u-clearfix.u-image.u-shading.aboutUs(data-image-width='1645', data-image-height='1080')
      .u-clearfix.u-sheet.aboutUsCenterHead
        .u-border-5.u-border-black.u-container-style.u-group.aboutUsTextGroup
          .u-container-layout.u-valign-bottom-md.u-valign-bottom-sm.aboutUsTextContainer
            h2.u-align-center-xs.u-custom-font.u-font-raleway.u-text.u-text-default.aboutUsTitle Team IntelliJent
            p.u-align-justify.u-text.aboutUsDescription
              | We are Information Technology students of Saint Louis University. This system is called IntelliDocs which is in partial fulfillment for the course IT Project.
              br
              br
              | The rationale behind implementing the IntelliDocs at SLU is to address the challenges associated with traditional paper-based document management systems, such as redundant form-making, inconsistent format, late submissions, lack of storage, document duplication, security, and no centralized repository
        .u-align-left.u-grey-80.u-left-0.u-shape.aboutUsShapeDesign
        img.u-align-left.u-image.u-image-1-aboutUs(data-image-width='2048', data-image-height='1538', src='../src/team.jpg')
    footer#sec-d467.footer.u-align-center.u-clearfix.u-custom-color-1.u-footer.u-footer
      .u-clearfix.u-sheet.centerHeader
        p.footerText.u-small-text.u-text.u-text-variant.loginTitle
          | Team IntelliJent IT Project
          br
          |  &copy; 2023 All Rights Reserved