extends layout.pug

block body
    //.w3-main#main(style='margin-left:250px')
    .w3-main#main(style='margin-left:250px; margin-top:100px;')
        //.w3-row.w3-padding-64
        .w3-row.w3-card.w3-container.w3-white.w3-margin
            h4.w3-bold Create Widget
            input#widgetName.w3-col.s6.w3-input.w3-margin.w3-padding-16.w3-text-size-30(placeholder="Type Widget Name [Required]" required='')
            //button.w3-col.s2.w3-right.w3-input.w3-margin.w3-padding-16.w3-text-size-30
                | Create Widget
            hr.w3-clear
            p.w3-center
            .w3-row.w3-container
                //.grid-container.w3-white
                .grid-container.w3-light-grey
                    .grid-item
                        label(for='modifyOrientation') Orientation:
                        select#modifyOrientation(onchange='modifyOrientation()')
                            option(value='square') Square
                            option(value='landscape-rectangle') Landscape Rectangle
                            option(value='portrait-rectangle') Portrait Rectangle

                    .grid-item
                        label(for='fontSizeSelect') Font Size:
                        select#fontSizeSelect(onchange='changeFontSize()')
                            // Generate font size options using JavaScript
                            script.
                                for (let i = 1; i <= 100; i++) {
                                    document.write(`<option value="${i}">${i}</option>`);
                                }
                    .grid-item.borderless
                    .grid-item
                        label(for='colorSelect') Select Text Color:
                        select#colorSelect(onchange='changeTextColor()')
                            option(value='black') Black
                            option(value='white') White
                            option(value='red') Red
                            option(value='blue') Blue
                            option(value='grey') Grey
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeBold()')
                            i.fa.fa-bold.icon-light
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeItalic()')
                            i.fa.fa-italic.icon-light
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeUnderline()')
                            i.fa.fa-underline.icon-light
                    .grid-item.borderless
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignLeft()')
                            i.fa.fa-align-left.icon-light
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignRight()')
                            i.fa.fa-align-right.icon-light
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignCenter()')
                            i.fa.fa-align-center.icon-light
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignJustify()')
                            i.fa.fa-align-justify.icon-light
                    .grid-item.borderless
                    .grid-item
                        button.w3-button.w3-bold.w3-grey(onclick='saveWidget()')
                            | Save Widget
                    .grid-item.borderless

            .w3-row.w3-container
                .w3-twothird.w3-container
                    h6.w3-text-red.w3-bold.w3-italic Click on specific text fields to make them editable
                .w3-twothird.w3-container
                    #widget-canvas.w3-box


                .w3-third
                    //.widget-container.w3-container.w3-white

                    #widget-canvas.widget-container.w3-container.w3-light-grey
                        //LEI -- REFER TO widgetdragbar FOR FUTURE REVISIONS
                        include widgetdragbar



    script.
        function saveWidget(){
            addReadOnlyAttributesRecursive();
            var widgetCanvas = document.getElementById('widget-canvas').innerHTML;
            var widgetName = document.getElementById('widgetName').value;

            const data = {
                name: widgetName,
                widgetContent: widgetCanvas
            };

            fetch('/savecreatedwidget', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Network response was not ok');
                }
            }).then(data => {
                const success = data.success; // Assuming the response contains a 'success' property
                if (success) {
                    alert("Widget Created!")
                    window.location.href = '/';
                } else {
                }
            }).catch(error => {
                console.error('Fetch error:', error);
            });
        }

        //end of play playground

    script.
        // Not working, to be debugged
        function restrictCheckBoxSelection() {
        const checkboxes = document.querySelectorAll('input[name="academicStatus"]');
        console.log(checkboxes);
            console
          // Add a change event listener to each checkbox
                    checkboxes.forEach((checkbox) => {
                        checkbox.addEventListener('change', function () {
                            // Uncheck all other checkboxes in the group
                            checkboxes.forEach((otherCheckbox) => {
                                if (otherCheckbox !== this) {
                                    otherCheckbox.checked = false;
                                }
                            });
                        });
                    });
        }

        restrictCheckBoxSelection();


        /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
        function openNavigation() {
            // Get the element by its ID
            const sidebar = document.getElementById("mySidebar");
            const main = document.getElementById("main");
            // Toggle the classes for showing/hiding the sidebar
            sidebar.classList.toggle("w3-show");
            // Toggle the margin of the main content
            main.style.marginLeft = "250px";
            }
        /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }

    link(rel='stylesheet' href='hnodettps://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='../css/w3css4.css')
    link(rel='stylesheet' href='../css/w3-theme.css')
    link(rel='stylesheet' href='../css/text_editor.css')
    link(rel='stylesheet' href='../css/create_form_style.css')

    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js')
    script(src='https://html2canvas.hertzen.com/dist/html2canvas.js')
    script(src='js/create_widget.js')

