extends layout.pug

block body
    #main.w3-main(style='margin-left:250px')
        .w3-row.w3-padding-64
            .w3-container2.w3-card.w3-white.w3-round.w3-margin
                .form_container
                    form(name='form')
                        h2.heading CREATE A USER
                        .form_wrap.fullname
                            .form_item
                                label(style='font-family: Courier New, monospace; font-weight:normal;') Email
                                input(type='text')
                                #email.error
                            .form_item
                                label(style='font-family:Courier New, monospace;; font-weight:normal;') ID Number
                                input(type='text')
                                #empID.error
                        .form_wrap.fullname
                            .form_item
                                label(style='font-family: Courier New, monospace; font-weight:normal;') Username
                                input(type='text')
                                #username.error
                            .form_item
                                label(style='font-family:Courier New, monospace;; font-weight:normal;') Password
                                input(type='text')
                                #password.error
                        .form_wrap.fullname
                            .form_item
                                label(style='font-family: Courier New, monospace;; font-weight:normal;') First Name
                                input(type='text')
                                #firstName.error
                            .form_item
                                label(style='font-family: Courier New, monospace;; font-weight:normal;') LastName
                                input(type='text')
                                #lastName.error
                        .form_wrap.fullname
                            .form_item
                                label(style='font-family: Courier New, monospace;; font-weight:normal;') Middle Name
                                input(type='text')
                                #middleName.error
                            .form_item
                                label(for='userLevel' style='font-family: Courier New, monospace;; font-weight:normal;') User Level:
                                select#userLevel(name='userLevel')
                                    option(value='null') Choose Role
                                    option(value='Document Controller') Document Controller
                                    option(value='Department Head') Department Head
                                    option(value='Faculty') Faculty
                                    option(value='Dean') Dean
                                    option(value='Admin') Admin
                                    option(value='Secretary') Secretary
                        .btnPosition
                              button.btn Register
    script.
        //------------------------------------------------------------------------
        //this block needs to be deployed everywhere
        //USED FOR RESEAT LOGIC
        var receivedUserDetailsBlock = !{JSON.stringify(currentUserDetailsBlock)};
        var reconID = receivedUserDetailsBlock.empID;
        //USED FOR IDLE LOGIC
        var min_handlingTime = #{min_idleTime};
        //console.log(min_handlingTime);
        //------------------------------------------------------------------------
    script(src="js/socket.io/socket.io.js")
    script(src="js/client.socket/handle_reconnect.js")
    script(src="js/client.navigation/handle_idle.js")
    script(src="js/client.navigation/handle_side_bar.js")
    script(src="js/client.functions/handle_ajax_upload.js")
    script(src="js/client.functions/handle_ajax_delete.js")
