extends layout.pug

block body
    script(src='https://code.jquery.com/jquery-3.6.4.min.js')

    script.
        $(document).ready(function(){
            $('#userLevel').change(function(){
                var selectedLevel = $(this).val();
                if (selectedLevel === 'Document Controller' || selectedLevel === 'Dean' || selectedLevel === 'Admin' || selectedLevel === 'Secretary') {
                    $('#userDepartment').parent().hide();
                } else {
                    $('#userDepartment').parent().show();
                }
            });
        });

    #main.w3-main(style='margin-left:250px')
        .w3-row.w3-padding-64
            .w3-container2.w3-card.w3-white.w3-round.w3-margin
                .form_container
                    form(name='form' role='form' method='POST' id='createUser')
                        h3.w3-bold.w3-margin CREATE A USER
                        .form_wrap.fullname
                            .form_item
                                label(style='font-family: Courier New, monospace; font-weight:normal;') Email
                                input#email.error(type='text' name='email' required='')
                            .form_item
                                label(style='font-family:Courier New, monospace;; font-weight:normal;') Password
                                input#passWord.error(type='text' name='passWord' required='')
                        .form_wrap.fullname
                            .form_item
                                label(style='font-family: Courier New, monospace;; font-weight:normal;') First Name
                                input#firstName.error(type='text' name='firstName' required='')
                            .form_item
                                label(style='font-family: Courier New, monospace;; font-weight:normal;') Last Name
                                input#lastName.error(type='text' name='lastName' required='')
                        .form_wrap.fullname
                            .form_item
                                label(style='font-family:Courier New, monospace;; font-weight:normal;') ID Number
                                input#empId.error(type='text' name='empId' required='')
                        .form_wrap.fullname
                            .form_item
                                label(for='userLevel' style='font-family: Courier New, monospace;; font-weight:normal;') User Level:
                                select#userLevel(name='userLevel' required='')
                                    option(value='null') Choose Role
                                    each position in positions
                                        option(value=position)= position
                            .form_item
                                label(for='userDepartment' style='font-family: Courier New, monospace;; font-weight:normal;') User Department:
                                select#userDepartment(name='userDepartment' required='')
                                    option(value='null') Choose Department
                                    each department in departments
                                        option(value=department)= department

                        .btnPosition
                              button(class='btn' type='submit') Register

    #main.w3-main(style='margin-left:250px')
        .w3-row.w3-padding-64
            .w3-half.w3-container2.w3-card
                .form_container
                    h3.w3-bold.w3-margin CREATE A NEW POSITION
                    .form_wrap.fullname
                        .form_item
                            label(style='font-family: Courier New, monospace; font-weight:normal;') User Position
                            input#userPosition.error(type='text' name='userPosition' required='')

                    .btnPosition
                          button(class='btn' onclick='createUserPosition()') Create User Position

            .w3-half.w3-container2.w3-card
                .form_container
                    h3.w3-bold.w3-margin CREATE A NEW DEPARTMENT
                    .form_wrap.fullname
                        .form_item
                            label(style='font-family: Courier New, monospace; font-weight:normal;') Email
                            input#newDepartment.error(type='text' name='newDepartment' required='')

                .btnPosition
                      button(class='btn' onclick='createDepartment()') Create Department
    script.
        function createUserPosition(){
            var data = {
                newPosition: document.getElementById('userPosition').value
            };

            $.ajax({
                type: 'PUT',
                url: '/AJAX_newPosition',
                data: data,
                success: function(response){
                    if(response.status_code === 0){
                        alert("New position was added.");
                        window.location.reload();
                    } else if(response.status_code === 1){
                        alert("Position already exists.");
                        window.location.reload();
                    }
                },
                error: function(error){
                    console.error('AJAX error in creating new position: ' + error);
                    alert('AJAX error in creating new position: ' + error);
                }
            });
        }

        function createDepartment(){
            var data = {
                newDepartment: document.getElementById('newDepartment').value
            };

            $.ajax({
                type: 'PUT',
                url: '/AJAX_newDepartment',
                data: data,
                success: function(response){
                    if(response.status_code === 0){
                        alert("New department was added.");
                        window.location.reload();
                    } else if(response.status_code === 1){
                        alert("Department already exists.");
                        window.location.reload();
                    }
                },
                error: function(error){
                    console.error('AJAX error in creating new position: ' + error);
                    alert('AJAX error in creating new position: ' + error);
                }
            });
        }

    script.
        $(document).ready(function () {
            $('#createUser').submit(function (event) {

                var data = {
                    email: document.getElementById('email').value,
                    passWord: document.getElementById('passWord').value,
                    firstName: document.getElementById('firstName').value,
                    lastName: document.getElementById('lastName').value,
                    empId: document.getElementById('empId').value,
                    userLevel: document.getElementById('userLevel').value,
                    userDepartment: document.getElementById('userDepartment').value
                };

                $.ajax({
                    type: 'POST',
                    url: '/createusers',
                    data: data,
                    success: function(response) {
                        if(response.status_code === 1) {
                            alert("User Email already exists!");
                        } else if(response.status_code === 2) {
                            alert("User Employee ID already exists!");
                        } else if(response.status_code === 0) {
                            alert("User successfully created!");
                            location.reload();
                        } else if(response.status_code === 3) {
                            alert("Employee must have a Department");
                        }
                    },
                    error: function (error) {
                        console.error('AJAX error:', error);
                    }
                });

                // Prevent the default form submission
                event.preventDefault();
            });
        });

