doctype html
head
  title Register User
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' href='../css/base_style.css')
  link(rel='stylesheet' type='text/css' href='../css/w3css4.css')
  link(rel='stylesheet' type='text/css' href='../css/w3-theme.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css')
  style.
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
    .w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
    }
    .parent-container {
    height: 100%; /* Set the maximum height of the parent container */
    border: 1px solid #000000; /* Optional: Add a border to visualize the container */
    position: relative; /* Optional: Needed if you want to position child elements */
    }
    .child-container {
    border: 1px solid #ccc;
    height: 100%; /* Make the child div occupy the full height of its parent */
    background-color: lightblue; /* Optional: Background color for visualization */
    }
.w3-top
  .w3-bar.w3-theme.w3-top.w3-left-align.w3-large
    a.w3-bar-item.w3-button.w3-right.w3-hide-large.w3-hover-white.w3-large.w3-theme-l1(onclick='openNavigation()')
      i.fa.fa-bars
    a.w3-bar-item.w3-button.w3-hover-white(href='/')
      i.fa.fa-home.w3-margin-right
      |   Home
    a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(href='')
      i.fa.fa-user.icon-dark
      |   Account Settings
    a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(href='')
      i.fa.fa-bell.icon-dark
      span.w3-badge.w3-right.w3-small.w3-green 3
      |   Notifications
    a.w3-bar-item.w3-button.w3-hide-small.w3-hide-medium.w3-hover-white(href='/logout')
      img.w3-circle(src='../src/avatar3.png' style='height:23px;width:23px' alt='Avatar')
      |  Logout
    a#userFirstNameNav.w3-bar-item.w3-hide-small.w3-hide-medium Cassandra
nav#mySidebar.w3-sidebar.w3-bar-block.w3-collapse.w3-theme-light.w3-animate-left
  div
    .w3-container
      h6#userFirstName.w3-center Cassandra
      p.w3-center
        img.w3-circle(src='../src/avatar3.png' style='height:106px;width:106px' alt='Avatar')
      hr(style='border-top: 1px dashed black;')
      h6
        i.fa.fa-info-circle.fa-fw.w3-margin-right.w3-text-theme
        myelement#empID 55555555
      h6
        i.fa.fa-user.fa-fw.w3-margin-right.w3-text-theme
        myelement#fullName Cassandra Narvasa
      h6
        i.fa.fa-briefcase.fa-fw.w3-margin-right.w3-text-theme
        myelement#userLevel document_controller
      hr(style='border-top: 1px dashed black;')
  div
    div
      button.w3-button.w3-block.w3-theme-dark.w3-left-align(onclick="myFunction('Demo1')")
        i.fa.fa-circle-o-notch.fa-fw.w3-margin-right
        |  Form Management
      #Demo1.w3-hide.w3-container
        p
          a(href='/createform')
            i.fa.fa-plus-circle.w3-margin-right
            | Create Forms
        p
          a(href='/viewforms')
            i.fa.fa-file-o.w3-margin-right
            | View Forms
        p
          a(href='/submission')
            i.fa.fa-info.w3-margin-right
            | Submission
        p
          a(href='/viewreports')
            i.fa.fa-pie-chart.w3-margin-right
            | View Reports
      button.w3-button.w3-block.w3-theme-dark.w3-left-align(onclick="myFunction('Demo2')")
        i.fa.fa-calendar-check-o.fa-fw.w3-margin-right
        |  Form Events
      #Demo2.w3-hide.w3-container
        p
          a(href='/managenotifications')
            i.fa.fa-bell-o.w3-margin-right
            | Set Form notifications
        p
          a(href='/managedeadlines')
            i.fa.fa-calendar-check-o.w3-margin-right
            | Set Form due dates
      button.w3-button.w3-block.w3-theme-dark.w3-left-align(onclick="myFunction('Demo3')")
        i.fa.fa-users.fa-fw.w3-margin-right
        |  User Management
      #Demo3.w3-hide.w3-container
        p
          a(href='/createusers')
            i.fa.fa-plus-circle.w3-margin-right
            | Create User
        p
          a(href='/viewusers')
            i.fa.fa-users.w3-margin-right
            | View Users
    br
    a.w3-bar-item.w3-button.edit-name.w3-hover-black(href='#')
      i.bi.bi-pencil-square
      |  Edit Project Name
    a.w3-bar-item.w3-button.w3-hover-black(href='#')
      i.bi.bi-pencil-square
      |  Edit Abstract
    a.w3-bar-item.w3-button.w3-hover-black(href='/uploadfiles')
      i.bi.bi-file-arrow-up
      |  Upload Files
    a.w3-bar-item.w3-button.w3-hover-black(href='#')
      i.bi.bi-person-plus
      |  Add Authors
#main.w3-main(style='margin-left:250px')
  .w3-row.w3-padding-64
    .w3-container2.w3-card.w3-white.w3-round.w3-margin
      .form_container
        form(name='form')
          h2.heading CREATE A USER
          .form_wrap.fullname
            .form_item
              label(style='font-family: Courier New, monospace; font-weight:normal;') Email
              input(type='text')
              #email.error
            .form_item
              label(style='font-family:Courier New, monospace;; font-weight:normal;') ID Number
              input(type='text')
              #empID.error
          .form_wrap.fullname
            .form_item
              label(style='font-family: Courier New, monospace; font-weight:normal;') Username
              input(type='text')
              #username.error
            .form_item
              label(style='font-family:Courier New, monospace;; font-weight:normal;') Password
              input(type='text')
              #password.error
          .form_wrap.fullname
            .form_item
              label(style='font-family: Courier New, monospace;; font-weight:normal;') First Name
              input(type='text')
              #firstName.error
            .form_item
              label(style='font-family: Courier New, monospace;; font-weight:normal;') LastName
              input(type='text')
              #lastName.error
          .form_wrap.fullname
            .form_item
              label(style='font-family: Courier New, monospace;; font-weight:normal;') Middle Name
              input(type='text')
              #middleName.error
            .form_item
              label(for='userLevel' style='font-family: Courier New, monospace;; font-weight:normal;') User Level:
              select#userLevel(name='userLevel')
                option(value='null') Choose Role
                option(value='Document Controller') Document Controller
                option(value='Department Head') Department Head
                option(value='Faculty') Faculty
                option(value='Dean') Dean
                option(value='Admin') Admin
                option(value='Secretary') Secretary
          .btnPosition
            button.btn Register
  script(src='js/jquery-3.2.1.min.js')
  script(src='js/bootstrap.js')
  script(src='js/jquery.dataTables.js')
  script(src='js/sidebar.js')
  script.
    var receivedUserDetailsBlock = {"firstName":"John Poul","lastName":"Panglao","empID":"22222222","userLevel":"Admin"};
    var userFirstName = document.getElementById("userFirstName");
    var userFirstNameNav = document.getElementById("userFirstNameNav");
    var empID = document.getElementById("empID");
    var fullName = document.getElementById("fullName");
    var userLevel = document.getElementById("userLevel");
    userFirstName.innerHTML = receivedUserDetailsBlock.firstName;
    userFirstNameNav.innerHTML = receivedUserDetailsBlock.firstName;
    empID.innerHTML = receivedUserDetailsBlock.empID;
    fullName.innerHTML = receivedUserDetailsBlock.firstName + " " + receivedUserDetailsBlock.lastName ;
    userLevel.innerHTML = receivedUserDetailsBlock.userLevel;
    function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
    } else {
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className =
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
    }
  script(type='text/javascript').
    $(document).ready(function() {
    $('#table').DataTable();
    } );
  script(type='text/javascript').
    $(document).ready(function(){
    //bi-trash
    //$('.btn_remove').on('click', function(){
    //delete file modal
    $('.bi-trash').on('click', function(){
    var store_id = $(this).attr('id');
    $("#modal_remove").modal('show');
    $('#btn_yes').attr('name', store_id);
    });
    $('.edit-name').on('click', function(){
    $("#modal_rename").modal('show');
    });
    $('#btn_yes').on('click', function(){
    var id = $(this).attr('name');
    $.ajax({
    type: "POST",
    url: "deletefile.php",
    data:{
    store_id: id
    },
    success: function(data){
    $("#modal_remove").modal('hide');
    $(".del_file" + id).empty();
    $(".del_file" + id).html("<td colspan='4'><center class='text-danger'>Deleting...</center></td>");
    setTimeout(function(){
    $(".del_file" + id).fadeOut('slow');
    }, 1000);
    }
    });
    });
    });
footer#myFooter.w3-bottom
  .w3-container.w3-theme-l1
    h5(style='text-align:center; font-family: Acme; font-weight:lighter;') SLU IT Project Catalogues
    h6(style='text-align:center; font-family: Acme, monospace; font-weight:lighter;') &copy; 2023 All Rights Reserved
script.
  /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
  function openNavigation() {
  // Get the element by its ID
  const sidebar = document.getElementById("mySidebar");
  const main = document.getElementById("main");
  // Toggle the classes for showing/hiding the sidebar
  sidebar.classList.toggle("w3-show");
  // Toggle the margin of the main content
  main.style.marginLeft = "250px";
  }
  /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
  function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
  }

script.
    /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
    function openNavigation() {
        // Get the element by its ID
        const sidebar = document.getElementById("mySidebar");
        const main = document.getElementById("main");
        // Toggle the classes for showing/hiding the sidebar
        sidebar.classList.toggle("w3-show");
        // Toggle the margin of the main content
        main.style.marginLeft = "250px";
        }
    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
