extends layout.pug

block body
    .w3-main#main(style='margin-left:230px; margin-top:50px; margin-bottom:50px;')
        .w3-row.w3-container.w3-border-black
            .w3-row.w3-border-black.w3-container.w3-padding-16.w3-card
                h4.w3-bold Create Widget
                .w3-row.w3-container
                    .w3-half
                        input#widgetName.w3-row.w3-input.w3-margin.w3-padding-16.w3-text-size-30(placeholder="Type Widget Name [Required]" required='')
                        label.w3-margin-left(for='widgetCategory') Widget Category:
                        select#widgetCategory.w3-margin(onchange='')
                            option(value='personalized') Personalized
                            option(value='header') Header
                            option(value='information') Information
                            option(value='grouped') Grouped
                            option(value='text') Text
                            option(value='signature') Signature
                            option(value='table') Table
                    .w3-half
                        .w3-third.w3-right
                            br
                            br
                            br
                            br
                            br
                            button.w3-button.w3-bold.w3-blue-classic(onclick='saveWidget()')
                                | Save Widget
                br
                .w3-row.w3-card
                    .grid-container.w3-light-grey.w3-padding-16
                        .grid-item
                            label(for='modifyOrientation') Orientation:
                            select#modifyOrientation(onchange='modifyOrientation()')
                                option(value='square') Square
                                option(value='landscape-rectangle') Landscape Rectangle
                                option(value='portrait-rectangle') Portrait Rectangle
                        .grid-item.borderless
                        .grid-item
                            label(for='colorSelect') Select Text Color:
                            select#colorSelect(onchange='changeTextColor()')
                                option(value='black') Black
                                option(value='white') White
                                option(value='red') Red
                                option(value='blue') Blue
                                option(value='grey') Grey
                        .grid-item.borderless
                        .grid-item
                            a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeBold()')
                                i.fa.fa-bold.icon-light
                        .grid-item
                             a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeItalic()')
                                i.fa.fa-italic.icon-light
                        .grid-item
                            a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeUnderline()')
                                i.fa.fa-underline.icon-light
                        .grid-item.borderless
                        .grid-item
                            a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignLeft()')
                                i.fa.fa-align-left.icon-light
                        .grid-item
                            a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignRight()')
                                i.fa.fa-align-right.icon-light
                        .grid-item
                            a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignCenter()')
                                i.fa.fa-align-center.icon-light
                        .grid-item
                            a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignJustify()')
                                i.fa.fa-align-justify.icon-light
                        .grid-item.borderless

            .w3-row.w3-container
                .w3-twothird.w3-container
                    h6.w3-text-red.w3-bold.w3-italic Click on specific text fields to make them editable

                .w3-twothird.w3-container
                    #widgetCanvas.w3-box.drop-container

                .w3-third
                    //.widget-container.w3-container.w3-white
                    .widget-container.w3-container.w3-light-grey
                        //LEI -- REFER TO widgetdragbar FOR FUTURE REVISIONS
                        include widgetdragbar


    script.
        $(document).ready(function(){
           $('.form').on('submit', function(){
                alert('Widget Created!');
           });
        });

        function saveWidget(){
            var widgetCanvas = document.getElementById('widgetCanvas').innerHTML;
            var widgetName = document.getElementById('widgetName').value;
            const data = {
                name: widgetName,
                widgetContent: widgetCanvas
            };

            fetch('/savecreatedwidget', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Network response was not ok');
                }
            }).then(data => {
                const success = data.success; // Assuming the response contains a 'success' property
                if (success) {
                    alert("Widget Created!")
                    window.location.href = '/';
                } else {
                }
            }).catch(error => {
                console.error('Fetch error:', error);
            });
        }

        //end of play playground

    script.
        // Not working, to be debugged
        function restrictCheckBoxSelection() {
        const checkboxes = document.querySelectorAll('input[name="academicStatus"]');
        console.log(checkboxes);
            console
          // Add a change event listener to each checkbox
                    checkboxes.forEach((checkbox) => {
                        checkbox.addEventListener('change', function () {
                            // Uncheck all other checkboxes in the group
                            checkboxes.forEach((otherCheckbox) => {
                                if (otherCheckbox !== this) {
                                    otherCheckbox.checked = false;
                                }
                            });
                        });
                    });
        }

        restrictCheckBoxSelection();


        /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
        function openNavigation() {
            // Get the element by its ID
            const sidebar = document.getElementById("mySidebar");
            const main = document.getElementById("main");
            // Toggle the classes for showing/hiding the sidebar
            sidebar.classList.toggle("w3-show");
            // Toggle the margin of the main content
            main.style.marginLeft = "250px";
            }
        /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }

    link(rel='stylesheet' href='hnodettps://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='../css/w3css4.css')
    link(rel='stylesheet' href='../css/w3-theme.css')
    link(rel='stylesheet' href='../css/text_editor.css')
    link(rel='stylesheet' href='../css/create_form_style.css')

    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js')
    script(src='https://html2canvas.hertzen.com/dist/html2canvas.js')
    script(src='js/client.form/form_create_widget.js')

