.draggable-content
    .w3-row
        button.w3-row(onclick='goToCreateWidget()')
            | Create Widget
        hr
        button.w3-button.w3-block.w3-theme-dark.w3-left-align(onclick="toggleAccordion('personalizedFieldsContainer')")
            i.fa.fa-caret-square-o-down.fa-fw.w3-margin-right
            |  Personalized Widgets
        #personalizedFieldsContainer.w3-hide.w3-container
            hr
            #widgetDragBarContainer


    .w3-row
        button.w3-button.w3-block.w3-theme-dark.w3-left-align(onclick="toggleAccordion('headerFieldsContainer')")
            i.fa.fa-caret-square-o-down.fa-fw.w3-margin-right
            |  Header Fields
        #headerFieldsContainer.w3-hide.w3-container
            hr.w3-clear.w3-black

            .header.w3-row.draggable.box.w3-margin-small(draggable='true')
                table.form-table.right.w3-bold.form-table.w3-font-size-10.header-table.hori-col
                    tbody
                        tr
                            th Document Code
                            th FM-SMI-027
                        tr
                            th Revision No.
                            th 01
                        tr
                            th Effectivity
                            th April 01, 2023
                        tr
                            th Page
                            th.page-number 1 of 1

            hr.w3-clear


            .header.w3-row.w3-container.w3-margin-left.w3-margin-right.w3-bold.w3-center.box.draggable.w3-margin-small(draggable='true')
                .w3-col.s3
                    img.w3-image(src='../src/slu_logo.png')

                .w3-col.s6.w3-bold.w3-center
                    .w3-center.text-label
                        | Saint Louis University
                    .w3-underline.w3-center.w3-margin-left.w3-margin-right.text-label
                        | SCHOOL OF ACCOUNTANCY, MANAGEMENT COMPUTING, AND INFORMATION STUDIES
                    h5.w3-center.w3-row    FORM NAME [EX: ANNUAL FACULTY ACTIVITY REPORT (AFAR)]')
                .w3-col.s3
                    table.form-table.w3-bold.w3-font-size-10.header-table
                        tbody
                            tr
                                th Document Code
                                th FMI-SMI-027
                            tr
                                th Revision No.
                                th 01
                            tr
                                th Effectivity
                                th April 01, 2023
                            tr
                                th Page
                                th.page-number 1 of 1
            hr.w3-clear
            .header.w3-row.w3-container.w3-margin-left.w3-margin-right.w3-bold.w3-center.box.draggable.w3-margin-small(draggable='true')
                .w3-col.s3
                    img.w3-image(src='../src/slu_logo.png')

                .w3-col.s6.w3-bold.w3-center
                   br
                .w3-col.s3
                    table.form-table.w3-bold.w3-font-size-10.header-table
                        tbody
                            tr
                                th Document Code
                                th FMI-SMI-027
                            tr
                                th Revision No.
                                th 01
                            tr
                                th Effectivity
                                th April 01, 2023
                            tr
                                th Page
                                th.page-number 1 of 1
            hr.w3-clear
            .header.w3-row.w3-container.w3-margin-left.w3-margin-right.w3-bold.w3-center.box.draggable.w3-margin-small(draggable='true')
                .w3-col.s3
                    img.w3-image(src='../src/slu_logo.png')

                .w3-col.s6.w3-bold.w3-center
                    .w3-center.text-label
                        | Saint Louis University
                    .w3-center
                        h5 SCHOOL: School of Accountancy, Management, Computing, and Information Studies
                        h5 DEPARTMENT: Computing and Information Studies
                        h5.w3-bold SUMMARY OF FACULTY TEACHING AND OTHER ENGAGEMENTS
                        .center.w3-row
                            .w3-half
                                label#term SEMESTER:
                                    input.w3-input.w3-center.w3-row(readonly for='term' type='text' maxlength='10' size='10' placeholder='1st/2nd')

                            .w3-half
                                label#schoolYear AY:
                                    input.w3-input.w3-center.w3-row(readonly for='schoolYear' type='text' maxlength='10' size='10' placeholder='2023-2024')
                .w3-col.s3
                    table.form-table.w3-bold.w3-font-size-10.header-table
                        tbody
                            tr
                                th Document Code
                                th FMI-SMI-027
                            tr
                                th Revision No.
                                th 01
                            tr
                                th Effectivity
                                th April 01, 2023
                            tr
                                th Page
                                th.page-number 1 of 1
            hr.w3-clear
            .header.w3-row.w3-container.w3-margin-left.w3-margin-right.w3-bold.w3-center.box.draggable.w3-margin-small(draggable='true')
                .w3-col.s3
                    img.w3-image(src='../src/slu_logo.png')

                .w3-col.s6.w3-bold.w3-center
                    .w3-center.text-label
                        | SAINT LOUIS UNIVERSITY
                    .w3-center
                        h5 SCHOOL:
                        h5 School of Accountancy, Management, Computing, and Information Studies
                        .center.w3-row
                            .w3-half
                                label#term TERM:
                                    input.w3-input.w3-center.w3-row(readonly for='term' type='text' maxlength='10' size='10' placeholder='PRELIM/MIDTERM/FINAL')

                            .w3-half
                                label#schoolYear AY:
                                    input.w3-input.w3-center.w3-row(readonly for='schoolYear' type='text' maxlength='10' size='10' placeholder='2023-2024')

            hr.w3-clear

            .header.w3-row.w3-container.w3-margin-left.w3-margin-right.w3-bold.w3-center.box.draggable.w3-margin-small(draggable='true')
                .w3-col.s3
                    img.w3-image(src='../src/slu_logo.png')

                .w3-col.s6.w3-bold.w3-center
                   br

                .w3-col.s3
                    table.form-table.w3-bold.w3-font-size-10.header-table
                        tbody
                            tr
                                th Document Code
                                th FMI-SMI-027
                            tr
                                th Revision No.
                                th 01
                            tr
                                th Effectivity
                                th April 01, 2023
                            tr
                                th Page
                                th.page-number 1 of 1
                    .w3-container
                        label.w3-row
                            input(type='checkbox' name="notice" value="without notice")
                            | WITHOUT NOTICE
                    .w3-container
                        label.w3-row
                            input(type='checkbox' name="notice" value="with notice")
                            | WITH NOTICE
            hr.w3-newline-2

    .w3-row
        button.w3-button.w3-block.w3-theme-dark.w3-left-align(onclick="toggleAccordion('infoInputFieldsContainer')")
            i.fa.fa-caret-square-o-down.fa-fw.w3-margin-right
            |  Information Input Fields
        #infoInputFieldsContainer.w3-hide.w3-container

            .w3-row.box.draggable.w3-margin-left.w3-margin-right.w3-margin-small(draggable='true')
                .w3-row
                    p.w3-col.s2.w3-left-align.w3-label SLU ID NO
                    label.w3-col.s9
                        input.w3-input.numeric-input(readonly type='number' maxlength='7' size='7' placeholder='ID NUMBER')
                        |
                .w3-row
                    p.w3-col.s2.w3-left-align.w3-label NAME
                    label.checkbox-label.w3-col.s3
                        input.w3-input.text-input(readonly type='text' maxlength='50' minlength='3' placeholder='FAMILY NAME')
                        |
                    label.checkbox-label.w3-col.s3
                        input.w3-input.text-input(readonly type='text' maxlength='50' minlength='3' placeholder='FIRST NAME')
                        |
                    label.checkbox-label.w3-col.s3
                        input.w3-input.text-input(readonly type='text' maxlength='2' placeholder='MI')
                        |

                .w3-row.w3-all-center
                    p.w3-col.s4.w3-left-align.w3-label Academic Status/Classification: According to Tenure
                    label.checkbox-label.w3-col.s6
                        input(readonly type='radio' value='probationary' name="academicStatus")
                        |                         Academic Status

                    label.checkbox-label.w3-col.s5
                        input(readonly type='radio' value='permanent' name="academicStatus")
                        |                         Permanent

                    label.checkbox-label.w3-col.s5
                        input(readonly type='radio' name="academicStatus" value='contractual')
                        |                         Contractual

                .w3-row.w3-all-center
                    p.w3-col.s4.w3-left-align.w3-label Subject Load:
                    label.checkbox-label.w3-col.s5
                        input#full-time(readonly type='radio' name='subject_load' value='full-time')
                        |                         Full-Time
                    label.checkbox-label.w3-col.s5
                        input#part-time(readonly type='radio' name='subject_load' value='part-time')
                        |                         Part Time
                    label.checkbox-label.w3-col.s5

            hr.w3-newline-2

    .w3-row
        button.w3-button.w3-block.w3-theme-dark.w3-left-align(onclick="toggleAccordion('widgetCheckBoxContainer')")
            i.fa.fa-caret-square-o-down.fa-fw.w3-margin-right
            |  Check Box
        #widgetCheckBoxContainer.w3-hide.w3-container
            .grid-container.w3-white.w3-container.draggable.box.w3-ol.w3-hover-light-grey(draggable='true')
                .grid-item
                    label.checkbox-label.w3-row(for='text-1')
                        input#option1(type='radio' name='radio-1' value='Option 1' disabled)
                        |  Option 1
                .grid-item
                    label.checkbox-label.w3-row(for='text-2')
                        input#option2(type='radio' name='radio-1' value='Option 2' disabled)
                        |  Option 2
                .grid-item
                    label.checkbox-label.w3-row(for='text-3')
                        input#option3(type='radio' name='radio-1' value='Option 3' disabled)
                        |  Option 3
                .grid-item
                    label.checkbox-label.w3-row(for='text-4')
                        input#option4(type='radio' name='radio-1' value='Option 4' disabled)
                        |  Option 4
            br
            .grid-container.w3-white.w3-container.draggable.box.w3-ol.w3-hover-light-grey(draggable='true')
                .grid-item
                    label.checkbox-label.w3-row(for='text-1')
                        input#apple(type='checkbox' name='checkbox-1' value='text1' disabled)
                        |  Lorem Ipsum
                .grid-item
                    label.checkbox-label.w3-row(for='text2')
                        input#banana(type='checkbox' name='checkbox-1' value='text2' disabled)
                        |  Lorem Ipsum
                .grid-item
                    label.checkbox-label.w3-row(for='text2')
                        input#banana(type='checkbox' name='checkbox-1' value='text2' disabled)
                        |  Lorem Ipsum
                .grid-item
                    label.checkbox-label.w3-row(for='text2')
                        input#banana(type='checkbox' name='checkbox-1' value='text2' disabled)
                        |  Lorem Ipsum
            hr.w3-newline-2

    .w3-row
        button.w3-button.w3-block.w3-theme-dark.w3-left-align(onclick="toggleAccordion('groupedFieldsContainer')")
            i.fa.fa-caret-square-o-down.fa-fw.w3-margin-right
            |  Grouped Fields
        #groupedFieldsContainer.w3-hide.w3-container

            .w3-row.w3-container.w3-margin-left.w3-margin-right.w3-bold.w3-center.box.draggable.w3-margin-small(draggable='true')
                .w3-center.text-label
                    | Saint Louis University, Baguio City
                .w3-underline.w3-center.w3-margin-left.w3-margin-right.text-label
                    | SCHOOL OF ACCOUNTANCY, MANAGEMENT COMPUTING, AND INFORMATION STUDIES
                input.w3-input.w3-center.w3-row(readonly type='text' maxlength='50' size='50' placeholder='FORM NAME [EX: ANNUAL FACULTY ACTIVITY REPORT (AFAR)]')
            hr.w3-clear

            .w3-row.w3-container.w3-margin-left.w3-margin-right.w3-bold.w3-center.box.draggable.w3-margin-small(draggable='true')
                .w3-center.text-label
                    | Saint Louis University, Baguio City
                h5 SCHOOL:
                h5 School of Accountancy, Management, Computing, and Information Studies
                h5 REPORT ON THE LOAD OF A FACULTY AS A STUDENT
                label.w3-col.s5.w3-margin
                    input.w3-input.w3-center(type='text' name="semester" placeholder="1st/2nd")
                    | Semester
                label.w3-col.s5.w3-margin
                    input.w3-input.w3-center(readonly type='text' maxlength='10' size='10' placeholder='2023-2024')
                    | AY

            hr.w3-clear
            .w3-row.w3-container.w3-margin-left.w3-margin-right.w3-bold.w3-center.box.draggable.w3-margin-small(draggable='true')
                label.w3-col.s7
                    input.w3-input.w3-center(readonly type='text' maxlength='10' size='10' placeholder='2023-2024')
                    | AY:
                label.w3-col.s2
                    | Semester:
                label.w3-col.s1
                    input(type='radio' name="semester" value="without notice")
                    | 1st
                label.w3-col.s1
                    input(type='radio' name="semester" value="with notice")
                    | 2nd
                label.w3-col.s1
                    input(type='radio' name="semester" value="with notice")
                    | Short Term
                p.w3-col.s2.w3-left-align.w3-label NAME
                label.checkbox-label.w3-col.s3
                    input.w3-input.text-input(readonly type='text' maxlength='50' minlength='3' placeholder='FAMILY NAME')
                    |
                label.checkbox-label.w3-col.s3
                    input.w3-input.text-input(readonly type='text' maxlength='50' minlength='3' placeholder='FIRST NAME')
                    |
                label.checkbox-label.w3-col.s3
                    input.w3-input.text-input(readonly type='text' maxlength='50' placeholder='MI')
                    |

                label.checkbox-label.w3-row
                    input.w3-input.text-input(readonly type='text' maxlength='100' placeholder='')
                    | Department
            hr.w3-clear

            .w3-row.w3-container.w3-margin-right.w3-center.box.draggable.w3-margin-small(draggable='true')
                .w3-row.w3-center.w3-bold.text-label
                    | VISION MISSION STATEMENT
                .w3-row.w3-center.text-label
                    | We envision Saint Louis University as an excellent missionary and transformative educational institution zealous in developing locally responsive, globally competitive, and empowered human resources who are creative, competent and socially involved, and imbued with Christian Spirit
            hr.w3-clear

            .w3-row-center.w3-container.box.draggable.w3-margin-small(draggable='true')
                .w3-col-center.s2
                .w3-col.s5.w3-bold
                    input.w3-input.w3-center.w3-row(readonly  type='text' maxlength='50' size='50' placeholder='FORM NAME [EX: ANNUAL FACULTY ACTIVITY REPORT (AFAR)]')
                    input.w3-input.w3-center.w3-row(readonly type='text' maxlength='50' size='50' placeholder='SCHOOL YEAR [EX: AY 2022-2023]')
                    input.w3-input.w3-center.w3-row(readonly type='date' placeholder='set deadline')

                .w3-col-center.s3
                    .w3-all-center
                        a.w3-button.w3-hide-small.rectangle.w3-hover-white(href='')
                            i.fa.fa-pencil-square.icon-light
                            |             Upload 2x2 picture
            hr.w3-newline-2


    .w3-row
        button.w3-button.w3-block.w3-theme-dark.w3-left-align(onclick="toggleAccordion('textFieldsContainer')")
            i.fa.fa-caret-square-o-down.fa-fw.w3-margin-right
            |  Text Fields
        #textFieldsContainer.w3-hide.w3-container
            h3.textbox.w3-row.text-label.w3-container.box.draggable.w3-margin-small.w3-font-size-20(draggable="true")
                |   Label Text Box
            hr.w3-clear
            h5.textbox.text-label.w3-row.w3-container.box.draggable.w3-margin-small.w3-font-size-16(draggable="true")
                |   Normal Text Box
            hr.w3-clear
            p.textbox.text-label.w3-container.box.draggable.w3-margin-small(draggable="true")
                |   Small Text Box
            hr.w3-clear
            textarea.w3-textarea.text-label.textbox.w3-container.box.draggable.w3-margin-small(draggable="true")
                |                         This is a sample text box
            hr.w3-clear
            label.textbox.text-label.draggable.w3-margin-small.box(draggable="true")
                input.w3-input.numeric-input(readonly type='number')
                | Sample Numeric Input
            hr.w3-clear
            label.textbox.text-label.draggable.w3-margin-small.box(draggable="true")
                input.w3-input.text-input(readonly type='text' )
                | Sample Text Input
            hr.w3-clear
            ol.w3-margin.w3-container.draggable.box.w3-hover-light-grey.w3-ol.list.w3-margin-small(draggable='true')
                li item 1
                li item 2
                li item 3
            hr.w3-clear
            ul.w3-margin.w3-container.draggable.box.w3-hover-light-grey.w3-ul.list.w3-margin-small(draggable='true')
                li item 1
                li item 2
                li item 3
            hr.w3-newline-2


    .w3-row
        button.w3-button.w3-block.w3-theme-dark.w3-left-align(onclick="toggleAccordion('signatureFieldsContainer')")
            i.fa.fa-caret-square-o-down.fa-fw.w3-margin-right
            |  Signature Fields
        #signatureFieldsContainer.w3-hide.w3-container

            .w3-row-center.w3-bold.box.draggable.w3-margin-small(draggable='true')
                .w3-col.s3.w3-left
                .w3-col.s3.w3-left
                .w3-col.s4.w3-left
                    p Certified true and correct
                    input.w3-col.w3-hide-small.w3-hover-white.w3-center.rectangle.long(type="image" value="Upload Signature [PNG|JPG] over printed name")
                    input.w3-input.w3-font-size-14(readonly type='text' placeholder='FULL NAME')
                    p (SIGNATURE OVER PRINTED NAME)
                    input.w3-input.w3-font-size-12(readonly type='date' placeholder='Date')

            hr.w3-clear
            .w3-row-center.w3-container.w3-bold.box.draggable.w3-margin-small(draggable='true')
                .w3-col.s3.w3-margin.w3-left
                    h6 Reviewed by
                    input.w3-col.w3-hide-small.w3-hover-white.w3-center.rectangle.long(type="image" value="Upload Signature [PNG|JPG] over printed name")
                    input.w3-input.w3-font-size-14(readonly type='text' placeholder='FULL NAME')
                    |                     Department Head
                .w3-col.s3.w3-margin.w3-left
                    h6 Noted by
                    input.w3-col.w3-hide-small.w3-hover-white.w3-center.rectangle.long(type="image" value="Upload Signature [PNG|JPG] over printed name")
                    input.w3-input.w3-font-size-14(readonly type='text' placeholder='FULL NAME')
                    |                     Director of Libraries
                .w3-col.s3.w3-margin.w3-left
                    h6 Approved by
                    input.w3-col.w3-hide-small.w3-hover-white.w3-center.rectangle.long(type="image" value="Upload Signature [PNG|JPG] over printed name")
                    input.w3-input.w3-font-size-14(readonly type='text' placeholder='FULL NAME')
                    |                     OIC-Dean

            hr.w3-clear

            .w3-row-center.draggable.w3-margin-small(draggable='true')
                .w3-col.s3.w3-margin.w3-left
                    input.w3-input.w3-font-size-14(readonly type='text' placeholder='LABEL [NOTED|APPROVED|REVIEWED BY]')
                    input.w3-col.w3-hide-small.w3-hover-white.w3-center.rectangle.long(type="image" value="Upload Signature [PNG|JPG] over printed name")
                    input.w3-input.w3-font-size-14(readonly type='text' placeholder='FULL NAME')
                    input.w3-input.w3-font-size-14(readonly type='text' placeholder='POSITION')

                .w3-col.s3.w3-margin.w3-left
                    input.w3-input.w3-font-size-14(readonly type='text' placeholder='LABEL [NOTED|APPROVED|REVIEWED BY]')
                    input.w3-col.w3-hide-small.w3-hover-white.w3-center.rectangle.long(type="image" value="Upload Signature [PNG|JPG] over printed name")
                    input.w3-input.w3-font-size-14(readonly type='text' placeholder='FULL NAME')
                    input.w3-input.w3-font-size-14(readonly type='text' placeholder='POSITION')

                .w3-col.s3.w3-margin.w3-left
                    input.w3-input.w3-font-size-14(readonly type='text' placeholder='LABEL [NOTED|APPROVED|REVIEWED BY]')
                    input.w3-col.w3-hide-small.w3-hover-white.w3-center.rectangle.long(type="image" value="Upload Signature [PNG|JPG] over printed name")
                    input.w3-input.w3-font-size-14(readonly type='text' placeholder='FULL NAME')
                    input.w3-input.w3-font-size-14(readonly type='text' placeholder='POSITION')
                hr.w3-clear

            .w3-row-center.box.draggable.w3-margin-small(draggable='true')
                .w3-row
                    .w3-col.s3
                        p.w3-font-size-14  Endorsed by:
                    .w3-col.s4.w3-font-size-14
                        input.w3-col.w3-hide-small.w3-hover-white.w3-center.rectangle.long(type="image" value="Upload Signature [PNG|JPG] over printed name")
                        input.w3-input.w3-font-size-12(readonly type='text' placeholder='FULL NAME')
                        h6.w3-center.w3-font-size-15 Associate Dean
                    .w3-col.s4.w3-margin-left
                        input.w3-input.w3-font-size-12(readonly type='date' placeholder='Date')
                .w3-row
                    .w3-col.s3
                        p.w3-font-size-14  Approved By:
                    .w3-col.s4
                        input.w3-col.w3-hide-small.w3-hover-white.w3-center.rectangle.long(type="image" value="Upload Signature [PNG|JPG] over printed name")
                        input.w3-input.w3-font-size-14(readonly type='text' placeholder='FULL NAME')
                        h6.w3-center.w3-font-size-15 SAMCIS Dean
                    .w3-col.s4.w3-margin-left
                        input.w3-input.w3-font-size-14(readonly type='date' placeholder='Date')
                .w3-row
                    .w3-col.s3
                        p.w3-font-size-14  Endorsed by:
                    .w3-col.s4.w3-font-size-14
                        input.w3-col.w3-hide-small.w3-hover-white.w3-center.rectangle.long(type="image" value="Upload Signature [PNG|JPG] over printed name")
                        input.w3-input.w3-font-size-12(readonly type='text' placeholder='FULL NAME')
                        h6.w3-center.w3-font-size-15 Associate Dean
                    .w3-col.s4.w3-margin-left
                        input.w3-input.w3-font-size-12(readonly type='date' placeholder='Date')

            hr.w3-clear

            .w3-row.box.draggable.w3-margin-small(draggable='true')
                .w3-col.s3
                    p.w3-font-size-14  Prepared By:
                .w3-col.s4
                    input.w3-col.w3-hide-small.w3-hover-white.w3-center.rectangle.long(type="image" value="Upload Signature [PNG|JPG] over printed name")
                    input.w3-input.w3-font-size-14(readonly type='text' placeholder='FULL NAME')
                    h6.w3-center.w3-font-size-15 Department Head
                .w3-col.s4.w3-margin-left
                    input.w3-input.w3-font-size-14(readonly type='date' placeholder='Date')

            hr.w3-clear

            .w3-row.box.draggable.w3-margin-small(draggable='true')
                .w3-col.s3
                    p.w3-font-size-14  Approved By:
                .w3-col.s4
                    input.w3-col.w3-hide-small.w3-hover-white.w3-center.rectangle.long(type="image" value="Upload Signature [PNG|JPG] over printed name")
                    input.w3-input.w3-font-size-14(readonly type='text' placeholder='FULL NAME')
                    h6.w3-center.w3-font-size-15 SAMCIS Dean
                .w3-col.s4.w3-margin-left
                    input.w3-input.w3-font-size-14(readonly type='date' placeholder='Date')

            hr.w3-clear

            .w3-row.box.draggable.w3-margin-small(draggable='true')
                .w3-col.s3
                    p.w3-font-size-14  Endorsed by:
                .w3-col.s4.w3-font-size-14
                    input.w3-col.w3-hide-small.w3-hover-white.w3-center.rectangle.long(type="image" value="Upload Signature [PNG|JPG] over printed name")
                    input.w3-input.w3-font-size-12(readonly type='text' placeholder='FULL NAME')
                    h6.w3-center.w3-font-size-15 Associate Dean
                .w3-col.s4.w3-margin-left
                    input.w3-input.w3-font-size-12(readonly type='date' placeholder='Date')

            hr.w3-clear

            .w3-row-center.w3-bold.box.w3-margin-small.draggable(draggable='true')
                h6
                    | I attest that all information provided are true and correct and will abide with the policies and procedures of the university
                input.w3-col.w3-hide-small.w3-hover-white.w3-center.rectangle.long(type="image" value="Upload Signature [PNG|JPG] over printed name")

            hr.w3-clear

            table.draggable.box.w3-bold.w3-margin-small(draggable='true')
                tbody
                    tr
                        td
                            | LABEL [NOTED|APPROVED|REVIEWED BY]
                        td
                    tr
                        td   POSITION
                        td   FULL NAME

            hr.w3-newline-2

    .w3-row
        button.w3-button.w3-block.w3-theme-dark.w3-left-align(onclick="toggleAccordion('tableFieldsContainer')")
            i.fa.fa-caret-square-o-down.fa-fw.w3-margin-right
            |  Table Fields
        #tableFieldsContainer.w3-hide.w3-container
            table.draggable.form-table.w3-bold.w3-margin-small(draggable='true')
                tbody
                    tr
                        th Header 1
                        th Header 2
                    tr
                        td Text 1
                        td
                    tr
                        td Text 2
                        td
            hr.w3-clear
            table.draggable.form-table.w3-bold.w3-margin-small(draggable='true')
                tbody
                    tr
                        th Header 1
                        th Header 2
                        th Header 3
                        th Header 4
                    tr
                        td Text 1
                        td
                        td
                        td
                    tr
                        td Text 2
                        td
                        td
                        td
            hr.w3-clear
            table.draggable.form-table.w3-bold.w3-margin-small(draggable='true')
                tbody
                    tr
                        td Row 1
                        td
                    tr
                        td Row 2
                        td
                    tr
                        td Row 3
                        td
            hr.w3-clear
            table.draggable.form-table.number.w3-bold.w3-hover-light-grey(draggable='true')
                tbody
                    tr
                        td 1
                        td
                        td
                    tr
                        td 2
                        td
                        td
                    tr
                        td 3
                        td

                        td
            hr.w3-clear
            table.draggable.form-table.number-2.w3-bold.w3-hover-light-grey(draggable='true')
                tbody
                    tr
                        td 1
                        td
                        td
                    tr
                        td 2
                        td
                        td
                    tr
                        td 3
                        td

                        td


script.

    var widgets = !{JSON.stringify(currentUserWidgets)};
    var widgetDragBarContainer = document.getElementById('widgetDragBarContainer');

    var widgetChild = "";

    if (widgets.length == 0) {
        var tempElement = document.createElement('p');
        tempElement.textContent = "No custom widgets at the moment";
        widgetDragBarContainer.appendChild(tempElement);
    } else {
        for(i = 0; i < widgets.length; i++){
            var tempElement = document.createElement('div');
            widgetChild = `<h4 class="w3-bold w3-padding-16 w3-center">` + widgets[i].widget_name + `</h4>` +
             `<div class="w3-container box w3-row draggable" draggable="true">` + widgets[i].widget_content + `</div>`;
            tempElement.innerHTML = widgetChild;
            widgetDragBarContainer.appendChild(tempElement);
        }
    }




    function goToCreateWidget(){
        window.location.href = 'createwidget';
    }