doctype html
html
  head
    title #{title}
  body
    h1 this page is reserved for home (needs express session to identify if user is logged in)

    div
        a(href='/') HOME
        br
        a(href='/login') LOGIN
        br
        a(href='/createform') Create Form
        br
        a(href='/createuser') Create User
        br
        a(href='/viewform') View Forms
        br
        a(href='/') LOGOUT


