doctype html
html(style='font-size: 16px;', lang='en')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title IntelliDocs
        link(rel='stylesheet', type='text/css', href='../css/w3css4.css')
        link(rel='stylesheet', type='text/css', href='../css/loginPages.css')
        script.u-script(type='text/javascript', src='../js/loginNavbar.js', defer='')
        link#u-theme-google-font(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
        link#u-page-google-font(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')
    body.u-body.u-xl-mode(data-lang='en')
        header#sec-f0ce.u-custom-color-1.u-header(data-animation-name='', data-animation-duration='0', data-animation-delay='0', data-animation-direction='')
          .u-clearfix.u-sheet.centerHeader
            a.u-image.u-logo.u-image-1(data-image-width='1500', data-image-height='600')
              img.u-logo-image.u-logo-image-1(src='../src/intelliDocsLogo.png', data-image-width='80')
            nav.u-menu.u-menu-one-level.u-offcanvas.u-menu-1(data-responsive-from='MD')
              .menu-collapse.u-custom-font.u-font-raleway
                a.u-button-style.u-custom-text-shadow.u-custom-text-shadow-blur.u-custom-text-shadow-color.u-custom-text-shadow-transparency.u-custom-text-shadow-x.u-custom-text-shadow-y.u-nav-link(href='#', style='padding: 8px 0px; font-size: calc(1em + 16px);')
                  svg.u-svg-link(viewBox='0 0 24 24')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-c7da')
                  svg#svg-c7da.u-svg-content(version='1.1', viewBox='0 0 16 16', x='0px', y='0px', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg')
                    g
                      rect(y='1', width='16', height='2')
                      rect(y='7', width='16', height='2')
                      rect(y='13', width='16', height='2')
              .u-custom-menu.u-nav-container
                ul.u-custom-font.u-font-raleway.u-nav.u-unstyled.u-nav-1
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='login', style='text-shadow: 0px 2px 8px rgba(128,128,128,1);') home
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='aboutUs', style='text-shadow: 0px 2px 8px rgba(128,128,128,1);') about us
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='ourTeam.html', style='text-shadow: 0px 2px 8px rgba(128,128,128,1);') out team
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='techSupport.html', style='text-shadow: 0px 2px 8px rgba(128,128,128,1); padding-right: 4px;') tech support
              .u-custom-menu.u-nav-container-collapse
                .u-black.u-container-style.u-inner-container-layout.u-opacity.u-opacity-95.u-sidenav
                  .u-inner-container-layout.u-sidenav-overflow
                    .u-menu-close
                    ul.u-align-center.u-custom-font.u-font-raleway.u-nav.u-popupmenu-items.u-unstyled.u-nav-2
                      li.u-nav-item
                        a.u-button-style.u-nav-link(href='index.html') home
                      li.u-nav-item
                        a.u-button-style.u-nav-link(href='aboutUs.html') about us
                      li.u-nav-item
                        a.u-button-style.u-nav-link(href='ourTeam.html') out team
                      li.u-nav-item
                        a.u-button-style.u-nav-link(href='techSupport.html') tech support
                .u-black.u-menu-overlay.u-opacity.u-opacity-70
        section#carousel_0314.mainFrame.u-clearfix.u-image.home(data-image-width='1889', data-image-height='1080')
          .u-clearfix.u-sheet.centerHeader
            .data-layout-selected.rightCell.u-clearfix.u-expanded-width.u-gutter-0.u-layout-wrap.centerBody
              .u-layout
                .u-layout-row
                  .u-container-style.u-layout-cell.u-left-cell.u-size-32.logoImageCell
                    .u-container-layout.leftContainer
                      img.samicsLogo.u-image.u-image-1-home(src='../src/samcisImage.png', data-image-width='934', data-image-height='809')
                  .u-align-center.u-container-style.u-layout-cell.u-right-cell.u-size-28.rightContainer
                    .u-container-layout.rightContainerPadding
                      .loginBox.u-align-center.u-border-20.u-border-no-left.u-border-no-right.u-border-no-top.u-border-palette-3-base.u-container-style.u-custom-border.u-expanded-width-lg.u-expanded-width-md.u-expanded-width-xl.u-expanded-width-xs.u-group.u-radius-46.u-shape-round.u-white.loginBoxGroup
                        .u-container-layout.loginBoxContainer
                          h2.loginText.u-text.u-text-default.u-text-palette-3-base.loginTitle Login
                          .formBox.u-form.u-login-control.loginForm
                            form.u-clearfix.u-form-custom-backend.u-form-spacing-10.u-form-vertical.u-inner-form(role='form', source='custom', name='form', style='padding: 0px;', method='post')
                              .u-form-group.u-form-name
                                label.u-label.u-text-grey-25.u-label-1(for='username-a30d') Username *
                                input#username-a30d.u-border-2.u-border-grey-10.u-grey-10.u-input.u-input-rectangle.u-input-1(type='text', placeholder='Enter your username', name='userName', required='')
                              .u-form-group.u-form-password
                                label.u-label.u-text-grey-25.u-label-2(for='password-a30d') Password *
                                input#password-a30d.u-border-2.u-border-grey-10.u-grey-10.u-input.u-input-rectangle.u-input-2(type='password', placeholder='Enter your password', name='passWord', required='')
                              .u-form-checkbox.u-form-group
                                input#checkbox-a30d.u-field-input(type='checkbox', name='remember', value='On')
                                label.u-field-label.u-text-grey-25(for='checkbox-a30d', style='text-transform: uppercase; font-size: 0.875rem; letter-spacing: 0px') Remember me
                              .u-align-left.u-form-group.u-form-submit
                                a.loginButton.u-border-none.u-btn.u-btn-submit.u-button-style.u-palette-3-base.u-btn-1(href='#') Login
                                input.u-form-control-hidden(type='submit', value='submit')
                              input(type='hidden', value='', name='recaptchaResponse')
                          a.u-border-1.u-border-active-palette-2-base.u-border-hover-palette-2-base.u-border-no-left.u-border-no-right.u-border-no-top.u-btn.u-button-style.u-login-control.u-login-create-account.u-none.u-text-palette-2-base.noAccountTextButton Don&apos;t have an account? Register to the admin.
        footer#sec-d467.footer.u-align-center.u-clearfix.u-custom-color-1.u-footer.u-footer
          .u-clearfix.u-sheet.centerHeader
            p.footerText.u-small-text.u-text.u-text-variant.loginTitle
              | Team IntelliJent IT Project
              br
              |  &copy; 2023 All Rights Reserved
        script(type='text/javascript').
          var errorMessage = document.getElementById("errorMSG");
          var receivedError = "";
          if(receivedError){
          errorMessage.innerHTML = "";
          }