doctype html
html(style='font-size: 16px;', lang='en')
  head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title IntelliDocs
        link(rel='stylesheet', type='text/css', href='../css/w3css4.css')
        link(rel='stylesheet', type='text/css', href='../css/loginPages.css')
        script.u-script(type='text/javascript', src='../js/loginNavbar.js', defer='')
        link#u-theme-google-font(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
        link#u-page-google-font(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')
  body.u-body.u-xl-mode(data-lang='en')
    header#sec-f0ce.u-custom-color-1.u-header(data-animation-name='', data-animation-duration='0', data-animation-delay='0', data-animation-direction='')
      .u-clearfix.u-sheet.u-sheet-1
        a.u-image.u-logo.u-image-1(href='login.html', data-image-width='1500', data-image-height='600')
          img.u-logo-image.u-logo-image-1(src='../src/intelliDocsLogo.png', data-image-width='80')
        nav.u-menu.u-menu-one-level.u-offcanvas.u-menu-1(data-responsive-from='MD')
          .menu-collapse.u-custom-font.u-font-raleway
            a.u-button-style.u-custom-text-shadow.u-custom-text-shadow-blur.u-custom-text-shadow-color.u-custom-text-shadow-transparency.u-custom-text-shadow-x.u-custom-text-shadow-y.u-nav-link(href='#', style='padding: 8px 0px; font-size: calc(1em + 16px);')
              svg.u-svg-link(viewBox='0 0 24 24')
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-c7da')
              svg#svg-c7da.u-svg-content(version='1.1', viewBox='0 0 16 16', x='0px', y='0px', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg')
                g
                  rect(y='1', width='16', height='2')
                  rect(y='7', width='16', height='2')
                  rect(y='13', width='16', height='2')
          .u-custom-menu.u-nav-container
            ul.u-custom-font.u-font-raleway.u-nav.u-unstyled.u-nav-1
              li.u-nav-item
                a.u-button-style.u-nav-link(href='login', style='text-shadow: 0px 2px 8px rgba(128,128,128,1);') home
              li.u-nav-item
                a.u-button-style.u-nav-link(href='aboutUs', style='text-shadow: 0px 2px 8px rgba(128,128,128,1);') about us
              li.u-nav-item
                a.u-button-style.u-nav-link(href='ourTeam', style='text-shadow: 0px 2px 8px rgba(128,128,128,1);') out team
              li.u-nav-item
                a.u-button-style.u-nav-link(href='techSupport', style='text-shadow: 0px 2px 8px rgba(128,128,128,1); padding-right: 4px;') tech support
          .u-custom-menu.u-nav-container-collapse
            .u-black.u-container-style.u-inner-container-layout.u-opacity.u-opacity-95.u-sidenav
              .u-inner-container-layout.u-sidenav-overflow
                .u-menu-close
                ul.u-align-center.u-custom-font.u-font-raleway.u-nav.u-popupmenu-items.u-unstyled.u-nav-2
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='login') home
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='aboutUs') about us
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='ourTeam') out team
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='techSupport') tech support
            .u-black.u-menu-overlay.u-opacity.u-opacity-70
    section#sec-08d1.u-align-center.u-clearfix.u-image.u-shading.u-valign-middle-md.u-valign-middle-sm.u-valign-middle-xs.ourTeam(data-image-width='1645', data-image-height='1080')
      h2.u-align-center.u-text.ourTeamTitle
        | our&nbsp;
        b team
      .u-expanded-width.u-palette-3-base.u-shape.u-shape-rectangle.ourTeamShapeDesign
      .u-list.ourTeamMemberList
        .u-repeater.u-repeater-1
          .u-container-style.u-list-item.u-repeater-item.u-white.u-list-item-1
            .u-container-layout.u-similar-container.u-container-layout-1
              .u-image.u-image-circle.u-image-1(alt='', data-image-width='1461', data-image-height='2048')
              .u-align-center-sm.u-align-center-xs.u-container-style.u-expanded-width-xs.u-group.u-group-1
                .u-container-layout.u-valign-top-lg.u-valign-top-md.u-container-layout-2
                  h4.u-custom-font.u-font-oswald.u-text.u-text-2 &nbsp;Alyanna Ramos
                  h5.u-custom-font.u-text.u-text-default.u-text-font.u-text-palette-2-base.u-text-3 Project Analyst
                  .u-social-icons.u-spacing-10.u-social-icons-1
                    a.u-social-url(target='_blank', href='')
                      span.u-icon.u-icon-circle.u-social-facebook.u-social-icon.u-icon-1
                        svg.u-svg-link(preserveAspectRatio='xMidYMin slice', viewBox='0 0 112 112', style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-16b7')
                        svg#svg-16b7.u-svg-content(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', xml:space='preserve', viewBox='0 0 112 112', x='0px', y='0px')
                          path(d='M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z')
                    a.u-social-url(target='_blank', href='')
                      span.u-icon.u-icon-circle.u-social-icon.u-social-instagram.u-icon-2
                        svg.u-svg-link(preserveAspectRatio='xMidYMin slice', viewBox='0 0 112 112', style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-8844')
                        svg#svg-8844.u-svg-content(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', xml:space='preserve', viewBox='0 0 112 112', x='0px', y='0px')
                          path(d='M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z')
                          path(d='M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z')
                          path(d='M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z')
          .u-container-style.u-list-item.u-repeater-item.u-white.u-list-item-2
            .u-container-layout.u-similar-container.u-container-layout-3
              .u-image.u-image-circle.u-image-2(alt='', data-image-width='1080', data-image-height='1080')
              .u-align-center-sm.u-align-center-xs.u-container-style.u-expanded-width-xs.u-group.u-group-2
                .u-container-layout.u-valign-top-lg.u-valign-top-md.u-container-layout-4
                  h4.u-custom-font.u-font-oswald.u-text.u-text-default-lg.u-text-default-md.u-text-default-xl.u-text-4 Cassandra Narvasa
                  h5.u-custom-font.u-text.u-text-default.u-text-font.u-text-palette-2-base.u-text-5 Project Manager
                  .u-social-icons.u-spacing-10.u-social-icons-2
                    a.u-social-url(target='_blank', href='')
                      span.u-icon.u-icon-circle.u-social-facebook.u-social-icon.u-icon-3
                        svg.u-svg-link(preserveAspectRatio='xMidYMin slice', viewBox='0 0 112 112', style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-16b7')
                        svg#svg-16b7.u-svg-content(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', xml:space='preserve', viewBox='0 0 112 112', x='0px', y='0px')
                          path(d='M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z')
                    a.u-social-url(target='_blank', href='')
                      span.u-icon.u-icon-circle.u-social-icon.u-social-instagram.u-icon-4
                        svg.u-svg-link(preserveAspectRatio='xMidYMin slice', viewBox='0 0 112 112', style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-8844')
                        svg#svg-8844.u-svg-content(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', xml:space='preserve', viewBox='0 0 112 112', x='0px', y='0px')
                          path(d='M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z')
                          path(d='M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z')
                          path(d='M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z')
          .u-container-style.u-list-item.u-repeater-item.u-white.u-list-item-3
            .u-container-layout.u-similar-container.u-container-layout-5
              .u-image.u-image-circle.u-image-3(alt='', data-image-width='1182', data-image-height='1202')
              .u-align-center-sm.u-align-center-xs.u-container-style.u-expanded-width-xs.u-group.u-group-3
                .u-container-layout.u-valign-top-lg.u-valign-top-md.u-container-layout-6
                  h4.u-custom-font.u-font-oswald.u-text.u-text-default-lg.u-text-default-md.u-text-default-xl.u-text-6 Denmark Chan
                  h5.u-custom-font.u-text.u-text-default.u-text-font.u-text-palette-2-base.u-text-7 Front End Support
                  .u-social-icons.u-spacing-10.u-social-icons-3
                    a.u-social-url(target='_blank', href='')
                      span.u-icon.u-icon-circle.u-social-facebook.u-social-icon.u-icon-5
                        svg.u-svg-link(preserveAspectRatio='xMidYMin slice', viewBox='0 0 112 112', style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-16b7')
                        svg#svg-16b7.u-svg-content(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', xml:space='preserve', viewBox='0 0 112 112', x='0px', y='0px')
                          path(d='M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z')
                    a.u-social-url(target='_blank', href='')
                      span.u-icon.u-icon-circle.u-social-icon.u-social-instagram.u-icon-6
                        svg.u-svg-link(preserveAspectRatio='xMidYMin slice', viewBox='0 0 112 112', style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-8844')
                        svg#svg-8844.u-svg-content(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', xml:space='preserve', viewBox='0 0 112 112', x='0px', y='0px')
                          path(d='M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z')
                          path(d='M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z')
                          path(d='M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z')
          .u-container-style.u-list-item.u-repeater-item.u-white.u-list-item-4
            .u-container-layout.u-similar-container.u-container-layout-7
              .u-image.u-image-circle.u-image-4(alt='', data-image-width='205', data-image-height='201')
              .u-align-center-sm.u-align-center-xs.u-container-style.u-expanded-width-xs.u-group.u-group-4
                .u-container-layout.u-valign-top-lg.u-valign-top-md.u-container-layout-8
                  h4.u-custom-font.u-font-oswald.u-text.u-text-default-lg.u-text-default-md.u-text-default-xl.u-text-8 John Poul Pangalo
                  h5.u-custom-font.u-text.u-text-default.u-text-font.u-text-palette-2-base.u-text-9 Technical Lead
                  .u-social-icons.u-spacing-10.u-social-icons-4
                    a.u-social-url(target='_blank', href='')
                      span.u-icon.u-icon-circle.u-social-facebook.u-social-icon.u-icon-7
                        svg.u-svg-link(preserveAspectRatio='xMidYMin slice', viewBox='0 0 112 112', style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-16b7')
                        svg#svg-16b7.u-svg-content(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', xml:space='preserve', viewBox='0 0 112 112', x='0px', y='0px')
                          path(d='M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z')
                    a.u-social-url(target='_blank', href='')
                      span.u-icon.u-icon-circle.u-social-icon.u-social-instagram.u-icon-8
                        svg.u-svg-link(preserveAspectRatio='xMidYMin slice', viewBox='0 0 112 112', style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-8844')
                        svg#svg-8844.u-svg-content(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', xml:space='preserve', viewBox='0 0 112 112', x='0px', y='0px')
                          path(d='M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z')
                          path(d='M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z')
                          path(d='M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z')
          .u-container-style.u-list-item.u-repeater-item.u-white.u-list-item-5
            .u-container-layout.u-similar-container.u-container-layout-9
              .u-image.u-image-circle.u-image-5(alt='', data-image-width='1600', data-image-height='1674')
              .u-align-center-sm.u-align-center-xs.u-container-style.u-expanded-width-xs.u-group.u-group-5
                .u-container-layout.u-valign-top-lg.u-valign-top-md.u-container-layout-10
                  h4.u-custom-font.u-font-oswald.u-text.u-text-default-lg.u-text-default-md.u-text-default-xl.ourTeamTitle0 Jain Cudiamat
                  h5.u-custom-font.u-text.u-text-default.u-text-font.u-text-palette-2-base.ourTeamTitle1 Lead Software Developer
                  .u-social-icons.u-spacing-10.u-social-icons-5
                    a.u-social-url(target='_blank', href='')
                      span.u-icon.u-icon-circle.u-social-facebook.u-social-icon.u-icon-9
                        svg.u-svg-link(preserveAspectRatio='xMidYMin slice', viewBox='0 0 112 112', style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-16b7')
                        svg#svg-16b7.u-svg-content(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', xml:space='preserve', viewBox='0 0 112 112', x='0px', y='0px')
                          path(d='M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z')
                    a.u-social-url(target='_blank', href='')
                      span.u-icon.u-icon-circle.u-social-icon.u-social-instagram.u-icon-10
                        svg.u-svg-link(preserveAspectRatio='xMidYMin slice', viewBox='0 0 112 112', style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-8844')
                        svg#svg-8844.u-svg-content(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', xml:space='preserve', viewBox='0 0 112 112', x='0px', y='0px')
                          path(d='M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z')
                          path(d='M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z')
                          path(d='M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z')
          .u-container-style.u-list-item.u-repeater-item.u-white.u-list-item-6
            .u-container-layout.u-similar-container.u-container-layout-11
              .u-image.u-image-circle.u-image-6(alt='', data-image-width='1280', data-image-height='996')
              .u-align-center-sm.u-align-center-xs.u-container-style.u-expanded-width-xs.u-group.u-group-6
                .u-container-layout.u-valign-top-lg.u-valign-top-md.u-container-layout-12
                  h4.u-custom-font.u-font-oswald.u-text.u-text-default-lg.u-text-default-md.u-text-default-xl.ourTeamTitle2 Leianneza Pioquinto
                  h5.u-custom-font.u-text.u-text-default.u-text-font.u-text-palette-2-base.ourTeamTitle3 Front End Lead
                  .u-social-icons.u-spacing-10.u-social-icons-6
                    a.u-social-url(target='_blank', href='')
                      span.u-icon.u-icon-circle.u-social-facebook.u-social-icon.u-icon-11
                        svg.u-svg-link(preserveAspectRatio='xMidYMin slice', viewBox='0 0 112 112', style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-16b7')
                        svg#svg-16b7.u-svg-content(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', xml:space='preserve', viewBox='0 0 112 112', x='0px', y='0px')
                          path(d='M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z')
                    a.u-social-url(target='_blank', href='')
                      span.u-icon.u-icon-circle.u-social-icon.u-social-instagram.u-icon-12
                        svg.u-svg-link(preserveAspectRatio='xMidYMin slice', viewBox='0 0 112 112', style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-8844')
                        svg#svg-8844.u-svg-content(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', xml:space='preserve', viewBox='0 0 112 112', x='0px', y='0px')
                          path(d='M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z')
                          path(d='M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z')
                          path(d='M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z')
          .u-container-style.u-list-item.u-repeater-item.u-white.u-list-item-7
            .u-container-layout.u-similar-container.u-container-layout-13
              .u-image.u-image-circle.u-image-7(alt='', data-image-width='300', data-image-height='300')
              .u-align-center-sm.u-align-center-xs.u-container-style.u-expanded-width-xs.u-group.u-group-7
                .u-container-layout.u-valign-top-lg.u-valign-top-md.u-container-layout-14
                  h4.u-custom-font.u-font-oswald.u-text.u-text-default-lg.u-text-default-md.u-text-default-xl.ourTeamTitle4 Lywe Joen Dupet
                  h5.u-custom-font.u-text.u-text-default.u-text-font.u-text-palette-2-base.ourTeamTitle5 Business Analyst
                  .u-social-icons.u-spacing-10.u-social-icons-7
                    a.u-social-url(target='_blank', href='')
                      span.u-icon.u-icon-circle.u-social-facebook.u-social-icon.u-icon-13
                        svg.u-svg-link(preserveAspectRatio='xMidYMin slice', viewBox='0 0 112 112', style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-16b7')
                        svg#svg-16b7.u-svg-content(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', xml:space='preserve', viewBox='0 0 112 112', x='0px', y='0px')
                          path(d='M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z')
                    a.u-social-url(target='_blank', href='')
                      span.u-icon.u-icon-circle.u-social-icon.u-social-instagram.u-icon-14
                        svg.u-svg-link(preserveAspectRatio='xMidYMin slice', viewBox='0 0 112 112', style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-8844')
                        svg#svg-8844.u-svg-content(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', xml:space='preserve', viewBox='0 0 112 112', x='0px', y='0px')
                          path(d='M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z')
                          path(d='M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z')
                          path(d='M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z')
          .u-container-style.u-list-item.u-repeater-item.u-white.u-list-item-8
            .u-container-layout.u-similar-container.u-container-layout-15
              .u-image.u-image-circle.u-image-8(alt='', data-image-width='1516', data-image-height='1644')
              .u-align-center-sm.u-align-center-xs.u-container-style.u-expanded-width-xs.u-group.u-group-8
                .u-container-layout.u-valign-top-lg.u-valign-top-md.u-container-layout-16
                  h4.u-custom-font.u-font-oswald.u-text.u-text-default-lg.u-text-default-md.u-text-default-xl.ourTeamTitle6 Machian Oliva
                  h5.u-custom-font.u-text.u-text-default.u-text-font.u-text-palette-2-base.ourTeamTitle7 Document Research&nbsp;
                  .u-social-icons.u-spacing-10.u-social-icons-8
                    a.u-social-url(target='_blank', href='')
                      span.u-icon.u-icon-circle.u-social-facebook.u-social-icon.u-icon-15
                        svg.u-svg-link(preserveAspectRatio='xMidYMin slice', viewBox='0 0 112 112', style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-16b7')
                        svg#svg-16b7.u-svg-content(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', xml:space='preserve', viewBox='0 0 112 112', x='0px', y='0px')
                          path(d='M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z')
                    a.u-social-url(target='_blank', href='')
                      span.u-icon.u-icon-circle.u-social-icon.u-social-instagram.u-icon-16
                        svg.u-svg-link(preserveAspectRatio='xMidYMin slice', viewBox='0 0 112 112', style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-8844')
                        svg#svg-8844.u-svg-content(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', xml:space='preserve', viewBox='0 0 112 112', x='0px', y='0px')
                          path(d='M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z')
                          path(d='M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z')
                          path(d='M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z')
    footer#sec-d467.footer.u-align-center.u-clearfix.u-custom-color-1.u-footer.u-footer
      .u-clearfix.u-sheet.centerHeader
        p.footerText.u-small-text.u-text.u-text-variant.loginTitle
          | Team IntelliJent IT Project
          br
          |  &copy; 2023 All Rights Reserved