extends layout.pug

block body
    .w3-main(style='margin-left:250px')
        .w3-row.w3-padding-64
            .w3-container.w3-white.w3-round.w3-margin
                h4 Manage Submissions
                hr.w3-clear
                table#data_table.table.dataTable
                    thead
                        tr
                            th Employee ID
                            th Name
                            th Form Name
                            th Date Submitted
                            th Actions
                    tbody
                        tr
                            td 1111111
                            td Jao Panglao
                            td AFAR
                            td September 5, 2023
                            td
                                a.w3-quarter.w3-hover-white(href='#')
                                    i.fa.fa-eye.w3-text-theme
                                a.w3-quarter.w3-hover-white(href='#')
                                    i.fa.fa-times.w3-text-theme
                                a.w3-quarter.w3-hover-white(href='#')
                                    i.fa.fa-check.w3-text-theme
                        tr
                            td 2222222
                            td Jian Cudiamat
                            td AFAR
                            td September 10, 2023
                            td
                                a.w3-quarter.w3-hover-white(href='#')
                                    i.fa.fa-eye.w3-text-theme
                                a.w3-quarter.w3-hover-white(href='#')
                                    i.fa.fa-times.w3-text-theme
                                a.w3-quarter.w3-hover-white(href='#')
                                    i.fa.fa-check.w3-text-theme


