doctype html
html(style='font-size: 16px;', lang='en')
  head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title IntelliDocs
        link(rel='stylesheet', type='text/css', href='../css/w3css4.css')
        link(rel='stylesheet', type='text/css', href='../css/loginPages.css')
        script.u-script(type='text/javascript', src='../js/loginNavbar.js', defer='')
        link#u-theme-google-font(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
        link#u-page-google-font(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')
  body.u-body.u-xl-mode(data-lang='en')
    header#sec-f0ce.u-custom-color-1.u-header(data-animation-name='', data-animation-duration='0', data-animation-delay='0', data-animation-direction='')
      .u-clearfix.u-sheet.techSupportCenterHeader
        a.u-image.u-logo.u-image-1(href='login', data-image-width='1500', data-image-height='600')
          img.u-logo-image.u-logo-image-1(src='../src/intelliDocsLogo.png', data-image-width='80')
        nav.u-menu.u-menu-one-level.u-offcanvas.u-menu-1(data-responsive-from='MD')
          .menu-collapse.u-custom-font.u-font-raleway
            a.u-button-style.u-custom-text-shadow.u-custom-text-shadow-blur.u-custom-text-shadow-color.u-custom-text-shadow-transparency.u-custom-text-shadow-x.u-custom-text-shadow-y.u-nav-link(href='#', style='padding: 8px 0px; font-size: calc(1em + 16px);')
              svg.u-svg-link(viewBox='0 0 24 24')
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-c7da')
              svg#svg-c7da.u-svg-content(version='1.1', viewBox='0 0 16 16', x='0px', y='0px', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg')
                g
                  rect(y='1', width='16', height='2')
                  rect(y='7', width='16', height='2')
                  rect(y='13', width='16', height='2')
          .u-custom-menu.u-nav-container
            ul.u-custom-font.u-font-raleway.u-nav.u-unstyled.u-nav-1
              li.u-nav-item
                a.u-button-style.u-nav-link(href='login', style='text-shadow: 0px 2px 8px rgba(128,128,128,1);') home
              li.u-nav-item
                a.u-button-style.u-nav-link(href='aboutUs', style='text-shadow: 0px 2px 8px rgba(128,128,128,1);') about us
              li.u-nav-item
                a.u-button-style.u-nav-link(href='ourTeam', style='text-shadow: 0px 2px 8px rgba(128,128,128,1);') out team
              li.u-nav-item
                a.u-button-style.u-nav-link(href='techSupport', style='text-shadow: 0px 2px 8px rgba(128,128,128,1); padding-right: 4px;') tech support
          .u-custom-menu.u-nav-container-collapse
            .u-black.u-container-style.u-inner-container-layout.u-opacity.u-opacity-95.u-sidenav
              .u-inner-container-layout.u-sidenav-overflow
                .u-menu-close
                ul.u-align-center.u-custom-font.u-font-raleway.u-nav.u-popupmenu-items.u-unstyled.u-nav-2
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='login') home
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='aboutUs') about us
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='ourTeam') out team
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='techSupport') tech support
            .u-black.u-menu-overlay.u-opacity.u-opacity-70
    section#sec-6510.u-clearfix.u-image.teachSupport(data-image-width='1645', data-image-height='1080')
      .u-clearfix.u-sheet.u-sheet-1
        .u-align-center.u-container-style.u-group.u-white.techSupportBoxContainer
          .u-container-layout.techSupportInnerBox
            h2.u-custom-font.u-font-playfair-display.u-text.u-text-default.teachSupportTitle Tech Support
            .u-align-left.u-expanded-width-sm.u-expanded-width-xs.u-form.techSupportForm
              form.u-clearfix.u-form-spacing-28.u-form-vertical.u-inner-form(action='https://forms.nicepagesrv.com/v2/form/process', style='padding: 10px', source='email', name='form')
                .u-form-group.u-form-name
                  label.u-form-control-hidden.u-label(for='name-5a14', wfd-invisible='true') Name
                  input#name-5a14.u-border-2.u-border-black.u-border-no-left.u-border-no-right.u-border-no-top.u-input.u-input-rectangle(type='text', placeholder='Enter your Name', name='name', required='')
                .u-form-email.u-form-group
                  label.u-form-control-hidden.u-label(for='email-5a14', wfd-invisible='true') Email
                  input#email-5a14.u-border-2.u-border-black.u-border-no-left.u-border-no-right.u-border-no-top.u-input.u-input-rectangle(type='email', placeholder='Enter a valid email address', name='email', required='')
                .u-form-group.u-form-message
                  label.u-form-control-hidden.u-label(for='message-5a14', wfd-invisible='true') Message
                  textarea#message-5a14.u-border-2.u-border-black.u-border-no-left.u-border-no-right.u-border-no-top.u-input.u-input-rectangle(placeholder='Enter your message', rows='4', cols='50', name='message', required='')
                .u-align-center.u-form-group.u-form-submit
                  a.u-border-2.u-border-black.u-btn.u-btn-submit.u-button-style.u-hover-black.u-none.u-text-black.u-text-hover-white.u-btn-1(href='#') Submit
                  input.u-form-control-hidden(type='submit', value='submit', wfd-invisible='true')
                .u-form-send-message.u-form-send-success(wfd-invisible='true')  Thank you! Your message has been sent.
                .u-form-send-error.u-form-send-message(wfd-invisible='true')  Unable to send your message. Please fix errors then try again.
                input(type='hidden', value='', name='recaptchaResponse', wfd-invisible='true')
                input(type='hidden', name='formServices', value='c91232336327dcbf4956aaf0a4289779')
        .u-expanded-width-xs.u-list.techSupportAdditionalInfo
          .u-repeater.techSupportInnerAdditionalInfo
            .u-align-left.u-container-style.u-list-item.u-palette-5-dark-3.u-repeater-item.u-list-item-1
              .u-container-layout.u-similar-container.u-valign-top.u-container-layout-2
                h5.u-text.u-text-default.u-text-2
                  span.u-icon.u-icon-1
                    svg.u-svg-content(viewBox='0 0 513.64 513.64', x='0px', y='0px', style='width: 1em; height: 1em;')
                      g
                        g
                          path(d='M499.66,376.96l-71.68-71.68c-25.6-25.6-69.12-15.359-79.36,17.92c-7.68,23.041-33.28,35.841-56.32,30.72    c-51.2-12.8-120.32-79.36-133.12-133.12c-7.68-23.041,7.68-48.641,30.72-56.32c33.28-10.24,43.52-53.76,17.92-79.36l-71.68-71.68    c-20.48-17.92-51.2-17.92-69.12,0l-48.64,48.64c-48.64,51.2,5.12,186.88,125.44,307.2c120.32,120.32,256,176.641,307.2,125.44    l48.64-48.64C517.581,425.6,517.581,394.88,499.66,376.96z')
                  | &nbsp;Call Us
                p.u-text.u-text-3 (+63) 123 456 789
            .u-align-left.u-container-style.u-list-item.u-palette-5-dark-3.u-repeater-item.u-list-item-2
              .u-container-layout.u-similar-container.u-valign-top.u-container-layout-3
                h5.u-text.u-text-default.u-text-4
                  span.u-icon.u-icon-2
                    svg.u-svg-content(viewBox='0 0 24 24', style='width: 1em; height: 1em;')
                      path(d='m12 0c-4.962 0-9 4.066-9 9.065 0 7.103 8.154 14.437 8.501 14.745.143.127.321.19.499.19s.356-.063.499-.189c.347-.309 8.501-7.643 8.501-14.746 0-4.999-4.038-9.065-9-9.065zm0 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z')
                  | &nbsp;Location
                p.u-text.u-text-5  SLU Mary Heights Road Bakakeng Sur, 2600 Baguio City, Philippines
    footer#sec-d467.footer.u-align-center.u-clearfix.u-custom-color-1.u-footer.u-footer
      .u-clearfix.u-sheet.centerHeader
        p.footerText.u-small-text.u-text.u-text-variant.loginTitle
          | Team IntelliJent IT Project
          br
          |  &copy; 2023 All Rights Reserved