extends layout.pug

block body
    .w3-main(style='margin-left:250px')
        .w3-row.w3-padding-64
            .w3-container.w3-card.w3-white.w3-round.w3-margin
                h4 Manage Users
                hr.w3-clear
                table#usersTable.display(widgth='100%')
                    thead
                        tr
                            th Employee ID
                            th First Name
                            th Last Name
                            th User Level
                            th Actions
                    tbody
                        each user in userAccounts
                            tr
                                td #{user.emp_id}
                                td #{user.first_name}
                                td #{user.last_name}
                                td #{user.user_level}
                                td
                                    a.w3-quarter.w3-hover-white(href='#')
                                        i.fa.fa-pencil-square.w3-text-theme
                                    a.w3-quarter.w3-hover-white(href='#')
                                        i.fa.fa-times.w3-text-theme

    script.
        //USED FOR TABLE ON THIS PAGE
        var table = $('#usersTable').DataTable();


