.page-container,
.pages {
  display: inline-block;
  vertical-align: top; /* Align them vertically if needed */

}

.page-container {
    margin: 10px auto;
    width: 100%; /* Adjust the width as needed */
    height:  300mm; /* A4 height in pixels */
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 10px; /* Add some padding for spacing */
    overflow-y: auto; /* Make the container scrollable vertically */
    box-shadow: rgba(0, 0, 0, 0.05) 5px 5px 5px 5px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: 1px solid #ccc;
    max-width: 1000px;
    max-height: 1000px;
    overflow-y:auto;
}


.widget-container {
  margin: 10px auto;
  width: 100%;
  height:  150mm;
  box-sizing: border-box;
  padding: 10px;
  overflow-y: auto;
}

.pages {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.drop-container {
  background: #FFFFFF;
  width: 210mm; /* Set the width to match the A4 width */
  height: 297mm; /* Set the height to match the A4 height */
  max-width: 100%;
  margin: 10px auto; /* Center horizontally with margin:auto */
  padding: 36px;
  border: 1px solid #000000;
  page-break-after: always;
  box-shadow: rgba(0, 0, 0, 0.05) 3px 3px 3px 3px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.paperContainer {
 max-width: 90%;
 max-height: 950px;
 overflow-y:auto;
}


.drop-container.landscape {
    height: 100mm;
    width: 300mm;
}

.w3-box {
    height:110mm;
    width: 60%;
    background: #FFFFFF;
    margin: 10px auto; /* Center horizontally with margin:auto */
    padding: 36px;
    border: 1px solid #000000;

}
.w3-portrait-rectangle{
    height:150mm;
    width: 40%;
    background: #FFFFFF;
    margin: 10px auto; /* Center horizontally with margin:auto */
    padding: 36px;
    border: 1px solid #000000;
}
.w3-landscape-rectangle{
    height:100mm;
    width: 80%;
    background: #FFFFFF;
    margin: 10px auto; /* Center horizontally with margin:auto */
    padding: 36px;
    border: 1px solid #000000;
}


.box {
    padding: 0;
    cursor: grab;
    flex: 1 0 auto; /* Allow flex items to grow and shrink */

}


.signature {
    padding: 4% 2%;
    border: 1px solid #ccc;
    cursor: grab;
    min-width: 100%; /* Minimum width for each child */
    flex: 1 0 auto; /* Allow flex items to grow and shrink */
}

.rectangle {
    padding: 5px 5px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: grab;
    min-width: 25%; /* Minimum width for each child */
    flex: 1 0 auto; /* Allow flex items to grow and shrink */
}

.rectangle.long {
    padding: 15px 5px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: grab;
    min-width: 25%; /* Minimum width for each child */
    flex: 1 0 auto; /* Allow flex items to grow and shrink */
}

.draggable {
    cursor: grab;
}

.draggable:hover {
    /*lei's code*/
    /*background: #FFFFFF;*/

    /*animate */
    /*color: #69D2E7;*/
    outline: 4px dotted #ffffff;
    box-shadow: 0 0 0 4px #69D2E7;
    animation: 3s blink linear 3s;
}

@keyframes blink{
	35%{
    	background: rgba(204, 255 , 255 , 0.1);
    	color: #69D2E7;
    	opacity: .9;
        outline-color: #69D2E7;
        box-shadow: 0 0 0 4px #ffffff;
    }
    70%{
    	background: rgba(204, 255 , 255 , 0.5);
		opacity: .8;
		outline-color: #ffffff;
        box-shadow: 0 0 0 4px #69D2E7;
    }

}
/*end of animate*/

.box.dragging {
    opacity: 0.5;
}


.form-table_fillup_center {
    float: center;
}



.form-table {
    padding: 0;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Enable fixed table layout */
}

.form-table.right {
width:30%;
float: right;
}

.selected {
  background-color: #FFFF99;
}

.selectedCells {
  background-color: gray;
}

.merged {
 background-color: #FFFFCC;
}

.form-table, .form-table th, .form-table td {
    border: 1px solid black;
}

.form-table th, .form-table td {
    padding: 8px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Set equal width for each column */
.form-table th, .form-table td {
    width: 33.33%;
}

.margin-half-inch {
    padding: 36px; /* Top and bottom padding */
}

.margin-whole-inch {
    padding: 72px; /* Top and bottom padding */
}

.margin-moderate {
    padding: 72px 36px; /* Top and bottom padding */
}

.non-draggable {
    cursor: auto; /* Change the cursor to the default pointer */
    opacity: 1; /* Make it fully visible */
    pointer-events: auto; /* Allow pointer events on the element */
    user-drag: none; /* Disable user dragging */
}


@media screen and (max-width: 299px) {
    .drop-container {
        width: 90%;
        height: 23.7cm;
    }

    table {
        background-color: yellow;
    }

}