.align-right {
   text-align: right;
   width: 100%;
   padding: 60px;
}

.body-container {
    padding: 30px;
}



.grid-container {
  align-items:center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #ccc;
  display: flex;
  border: 1px solid #ccc;
  padding: 20px;
  overflow-x: auto; /* Add horizontal scroll if necessary */
}

.grid-item {
  padding: 5px 10px;
  min-width:20px; /* Set a minimum width for each column */
}


.grid-item:hover {
  background: #808080;

}

.borderless {
 border: none;
 padding: 0;
}

.element-spacing-5 {
   margin: 2px;
   padding: 2px;
}

