.align-right {
   text-align: right;
   width: 100%;
   padding: 60px;
}

.body-container {
    padding: 30px;
     box-shadow: rgba(0, 0, 0, 0.05) 3px 3px 3px 3px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}



.grid-container {
  align-items:center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #ccc;
  display: flex;
  border: 1px solid #ccc;
  overflow-x: auto; /* Add horizontal scroll if necessary */
  box-shadow: rgba(0, 0, 0, 0.05) 3px 3px 3px 3px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.grid-item {
  padding: 5px 5px;
  min-width: 50px; /* Set a minimum width for each column */
  min-height: 20px;
}

.grid-container-vertical {
  align-items:center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #ccc;
  display: block;
  border: 1px solid #ccc;
  overflow-x: hidden;
}


.grid-item:hover {
  background: #808080;

}

.borderless {
 border: none;
 padding: 0;
}

.element-spacing-5 {
   margin: 2px;
   padding: 2px;
}

